@using System.Security.Claims
@{
    var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var now = DateTime.Now;
    var max = now.Date.AddDays(1).AddSeconds(-1);
}

<div id="setup_AsesmenPerawatRI">
    <form autocomplete="off">
        @Html.AntiForgeryToken()

        <input type="text" class="d-none" name="NoReg" />
        <input type="text" class="d-none" name="NRM" />
        <input type="text" class="d-none" name="DokterId" />

        <div class="row">

            <div class="col-md">

                <div class="form-group">
                    <label for="setup_AsesmenPerawatRI_WaktuPelayanan" class="">Waktu Pelayanan</label>
                    <input type="datetime-local" id="setup_AsesmenPerawatRI_WaktuPelayanan" name="WaktuPelayanan" class="form-control text-left" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>

            </div>

            <div class="col-md">

                <div class="form-group">
                    <label for="setup_AsesmenPerawatRI_AlasanKunjungan">Alasan kunjungan</label>
                    <select placeholder="Alasan kunjungan" id="setup_AsesmenPerawatRI_AlasanKunjungan" name="Id_mAlasanKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AlasanKunjungan", "AsesmenPerawatRI")'></select>
                </div>

            </div>

        </div>

        @*Subjektif*@

        <div class="">
            <p class="text-dark h3 text-left">Subjektif</p>
        </div>

        <div class="row">
            <div class="col-md">

                @*<div class="form-group">
                    <div class="row">
                        <label class="col-md-auto" for="setup_AsesmenPerawatRI_AkutKronis">Akut/Kronis</label>
                        <div class="col-md text-right mb-2">
                            <div class="form-check">
                                <input id="setup_AsesmenPerawatRI_PembaruanAsesmen" name="PembaruanAsesmen" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="setup_AsesmenPerawatRI_PembaruanAsesmen">Pembaruan Asesmen</label>
                            </div>
                        </div>
                    </div>
                    <select placeholder="Akut/Kronis" id="setup_AsesmenPerawatRI_AkutKronis" name="Id_mAkutKronis" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AkutKronis", "AsesmenPerawatRI")'></select>
                </div>*@

                <div class="">
                    <div class="row">
                        <label for="setup_AsesmenPerawatRI_input6" class="col-md-4">Anamnesis</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatRI_input6" data-template-jenis="21"></select>
                        </div>
                    </div>

                    <textarea rows="4" id="setup_AsesmenPerawatRI_input6" name="Anamnesis" class="form-control text-left"></textarea>
                </div>

                <div class="row mt-1">
                    <div class="col-md-5">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_AsesmenPerawatRI_input4" name="Autoanamnesis" type="checkbox" class="form-check-input">
                                Autoanamnesis
                            </label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="setup_AsesmenPerawatRI_input5" name="Alloanamnesis" type="checkbox" class="form-check-input">
                                Alloanamnesis
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-md-5"></div>
                    <div class="col-md">
                        <select placeholder="Hubungan dengan pasien" id="setup_AsesmenPerawatRI_select2" name="Id_mHubunganPasien" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_HubunganPasien", "AsesmenPerawatRI")'></select>
                    </div>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatRI_Card_Riwayat" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Riwayat</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatRI_Card_Riwayat" class="collapse show card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_RiwayatAlergi">Riwayat Alergi</label>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_RiwayatAlergi" name="RiwayatAlergi" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_RiwayatPenyakitDahulu">Riwayat Penyakit Dahulu</label>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_RiwayatPenyakitDahulu" name="RiwayatPenyakitDahulu" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_RiwayatPengobatan">Riwayat Pengobatan</label>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_RiwayatPengobatan" name="RiwayatPengobatan" class="form-control text-left"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @*Riwayat*@


            <div class="col-md">

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatRI_Card_RiwayatPsikososialSpiritual" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Riwayat Psikososial-Spiritual</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatRI_Card_RiwayatPsikososialSpiritual" class="collapse show card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_input28">Hubungan dengan anggotaKeluarga</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="HubunganDenganAnggotaKeluarga" value="B">
                                            Baik
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="HubunganDenganAnggotaKeluarga" value="K">
                                            Kurang Baik
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_input29">Kecendrungan Bunuh Diri</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="KecendrunganBunuhDiri" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="KecendrunganBunuhDiri" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_input30">Membutuhkan Privasi Tambahan</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MembutuhkanPrivasiTambahan" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MembutuhkanPrivasiTambahan" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_input31">Masalah Ekonomi</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MasalahEkonomi" value="false">
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="MasalahEkonomi" value="true">
                                            Ya
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenPerawatRI_select8">Status Psikologi</label>
                                <select placeholder="Status Psikologi" id="setup_AsesmenPerawatRI_select8" name="Id_mStatusPsikologi" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_StatusPsikologi", "AsesmenPerawatRI")'></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatRI_Card_Pemulangan" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="false">Rencana Pemulangan</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatRI_Card_Pemulangan" class="collapse card-body">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenPerawatRI_PerluPemulangan" name="RencanaPemulangan" type="checkbox" class="form-check-input">
                                        Perlu
                                    </label>
                                </div>
                                <textarea rows="4" id="setup_AsesmenPerawatRI_RencanaPemulanganKeterangan" name="RencanaPemulanganKeterangan" class="form-control text-left"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md">
                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenPerawatRI_Card_Skrining" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Skrining</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenPerawatRI_Card_Skrining" class="collapse show card-body">

                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select5">Fungsional</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Fungsional" id="setup_AsesmenPerawatRI_select5" name="SkriningFungsional" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRI", new { kelompok = 1 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_input18" name="SkriningFungsionalCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select9">Resiko Jatuh</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Resiko Jatuh" id="setup_AsesmenPerawatRI_select9" name="SkriningResikoJatuh" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRI", new { kelompok = 2 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_input21" name="SkriningResikoJatuhCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label class="col-md-4" for="select10">Resiko Nutrisi</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Resiko Nutrisi" id="setup_AsesmenPerawatRI_select10" name="SkriningResikoNutrisi" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRI", new { kelompok = 3 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_input23" name="SkriningResikoNutrisiCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row mb-1">
                                    <label for="setup_AsesmenPerawatRI_select11" class="col-md-4">Nyeri</label>
                                    <div class="col-md">
                                        <select placeholder="Skrining Nyeri" id="setup_AsesmenPerawatRI_select11" name="SkriningNyeri" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Skrining", "AsesmenPerawatRI", new { kelompok = 4 })'></select>
                                    </div>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_input25" name="SkriningNyeriCatatan" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenPerawatRI_input26" name="ButuhEdukasi" type="checkbox" class="form-check-input">
                                        Butuh Edukasi
                                    </label>
                                </div>
                                <textarea rows="1" id="setup_AsesmenPerawatRI_input27" name="ButuhEdukasiCatatan" class="form-control text-left"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md">
                <div class="form-group">
                    <div class="">
                        <p class="text-dark h3 text-left">Objektif</p>
                    </div>

                    <div class="row">
                        <label for="setup_AsesmenPerawatRI_input33" class="col-md-7">Pemeriksaan Fisik</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatRI_input33" data-template-jenis="22"></select>
                        </div>
                    </div>

                    <textarea rows="4" id="setup_AsesmenPerawatRI_input33" name="Objektif_PemeriksaanFisik" class="form-control text-left"></textarea>
                </div>

                <div class="">
                    <p class="text-dark h3 text-left">Asesmen (Masalah Keperawatan)</p>
                </div>
                <div class="form-group">
                    <textarea rows="4" id="setup_AsesmenPerawatRI_input34" name="Asesmen_MasalahKeperawatan" class="form-control text-left"></textarea>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenPerawatRI_input35" class="h3 col-md-3">Planning</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenPerawatRJ_input6" data-template-jenis="28"></select>
                        </div>
                    </div>
                    <textarea rows="6" id="setup_AsesmenPerawatRI_input35" name="Planning" class="form-control text-left"></textarea>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenPerawatRI_input36" class="h3">Instruksi</label>
                    <textarea rows="4" id="setup_AsesmenPerawatRI_input36" name="Instruksi" class="form-control text-left"></textarea>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-end align-items-center">


            <div class="form-check form-check-inline">
                <input id="setup_AsesmenPerawatRI_IsiDenganBenar" name="IsiDenganBenar" type="checkbox" class="form-check-input" checked>
                <label class="form-check-label mt-1" for="setup_AsesmenPerawatRI_IsiDenganBenar">
                    Saya telah mengisi asesmen dengan benar
                </label>
            </div>

            <button type="button" onclick="isetup_AsesmenPerawatRI.edit()" class="btn btn-lg bg-warning show-only-type-get mr-2 user-validation">Edit</button>

            <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2 user-validation"></i>Simpan</button>
        </div>

    </form>
</div>

<script>
    let isetup_AsesmenPerawatRI;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_AsesmenPerawatRI = new iSetup({
            id: 'setup_AsesmenPerawatRI',
            url : '@Url.Action("ActionAsesmenPerawatRI", "AsesmenPerawatRI")',
            param: e => ({
                NoReg: e.target['NoReg'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_AsesmenPerawatRI),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    showAlert("Data berhasil disimpan.", "success");

                    isetup_AsesmenPerawatRI.load();
                }
            },
            stateDataOnSuccess: (r, t) => {
                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    if (r.data.userId != '@userId') {
                        $(isetup_AsesmenPerawatRI.id).find('.user-validation').addClass('d-none');
                    } else {
                        $(isetup_AsesmenPerawatRI.id).find('.user-validation').removeClass('d-none');
                    }

                    isetup_AsesmenPerawatRI.initModel();

                    if (t.type == 'PUT') {
                        form['DokterId'].value = '@pasien.DokterID';
                    }
                }
            },
            modalDataOnSuccess: (r, t) => {
            },
            modalOnReady: (e, t) => {
			}
        });

        isetup_AsesmenPerawatRI.edit = () => {
            const noReg = '@pasien.NoReg';

            const form = $(isetup_AsesmenPerawatRI.id).find('form')[0];

            isetup_AsesmenPerawatRI.openState('PUT', {
                NoReg: noReg
            })
        };

        isetup_AsesmenPerawatRI.load = () => {
            const noReg = '@pasien.NoReg';

            isetup_AsesmenPerawatRI.openState('GET', {
                NoReg: noReg
            })
        };

        isetup_AsesmenPerawatRI.new = () => {
            isetup_AsesmenPerawatRI.openState('POST', {});

            const form = $(isetup_AsesmenPerawatRI.id).find('form')[0];
            form['NoReg'].value = '@pasien.NoReg';
            form['NRM'].value = '@pasien.NRM';
            form['DokterId'].value = '@pasien.DokterID';

            isetup_AsesmenPerawatRI.initModel();
        }

        isetup_AsesmenPerawatRI.isModified = () => {
            const setup = isetup_AsesmenPerawatRI;
            const model = getModelFromForm($(setup.id).find('form')[0], setup);

            setup.newModel = model;

            return objectIsEqual(model, setup.model) === false;
        }

        isetup_AsesmenPerawatRI.initModel = () => {
            const setup = isetup_AsesmenPerawatRI;

            setup.model = getModelFromForm($(setup.id).find('form')[0], setup);

            return setup.model;
        }

        document.addEventListener('RiwayatAlergiLoaded', function (e) {
            const setup = isetup_AsesmenPerawatRI;
            if (setup.type == 'POST') {
                const form = $(setup.id).find('form')[0];
                form['RiwayatAlergi'].value = iView_Pasien.RiwayatAlergi;
                setup.initModel();
            }
        }, false);

        customJSSetup_AsesmenPerawatRI();
    });

    const customJSSetup_AsesmenPerawatRI = () => {
        @if(pengisianEMR.AsesmenPerawat == true)
        {
            @:isetup_AsesmenPerawatRI.load();
        }
        else
        {
            @:isetup_AsesmenPerawatRI.new();
        }
    };
</script>

