<!-- CSS CUSTOM -->

<div id="modal_SediaanRacik" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Sediaan Racik</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
					<div class="form-group">
						<label for="input2">Sediaan Racik</label>
						<input required type="text" id="input2" name="NamaRacikan" class="form-control text-left"/>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_SediaanRacik;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_SediaanRacik = new iSetup({
            id: 'modal_SediaanRacik',
            url : '@Url.Action("SediaanRacik")',
            param: e => ({
                NamaRacikan: e.target['NamaRacikan'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_SediaanRacik),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_SediaanRacik.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);
                
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    
				}
			}
        });

        

        customJSSetup_SediaanRacik();
    });

    const customJSSetup_SediaanRacik = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

