@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout_Identity.cshtml";
}

<head>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/template/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/template/global_assets/js/main/jquery.min.js"></script>
    <script src="~/template/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/template/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/template/assets/js/app.js"></script>
    <!-- /theme JS files -->

</head>
<div class="row d-flex justify-content-center align-items-center">
    <form class="login-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">Password recovery</h5>
                    <span class="d-block text-muted">We'll send you instructions in email</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-right">
                    <input type="email" asp-for="Input.Email" class="form-control" placeholder="Your email">
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Reset password</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


