﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] EMR Puri Bunda</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/template/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/template/global_assets/js/main/jquery.min.js"></script>
    <script src="~/template/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/template/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/template/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/template/global_assets/js/plugins/forms/selects/select2.min.js"></script>

    <script src="~/template/assets/js/app.js"></script>
    <script src="~/template/global_assets/js/demo_pages/login.js"></script>
    <!-- /theme JS files -->

</head>

<body class="bg-slate-800">

    <!-- Page content -->
    <div class="page-content" style="background: url(@Url.Content("~/template/global_assets/images/login_cover.jpg")) no-repeat; background-size: cover;">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Login card -->
                <form class="login-form" id="account" method="post">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <img src="@Url.Content("~/images/PuriBundaLogin.png")" class="border-0 mb-2" height="100"/>
                                <h5 class="mb-0">Login to your account</h5>
                                <span class="d-block text-muted">Your credentials</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input asp-for="Input.Username" type="text" class="form-control" placeholder="Username" required>
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group d-flex align-items-center">
                                <div class="form-check mb-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" asp-for="Input.RememberMe" class="form-input-styled" data-fouc>
                                        Remember
                                    </label>
                                </div>

                                <a asp-area="Identity" asp-page="/Account/ForgotPassword" class="ml-auto">Forgot password?</a>
                            </div>

                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                            {
                                <p class="text-danger">@Model.ErrorMessage</p>
                            }

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
                            </div>

                            <span class="form-text text-center text-muted"><a href="https://www.sanatasystem.net/" target="_blank">Sanata System</a></span>
                        </div>
                    </div>
                </form>
                <!-- /login card -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {

            $("#select1").select2();

        });
    </script>

</body >
</html >
