@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout_Identity.cshtml";
}

<head>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/template/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/template/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/template/global_assets/js/main/jquery.min.js"></script>
    <script src="~/template/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/template/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/template/assets/js/app.js"></script>
    <script src="~/template/global_assets/js/demo_pages/login.js"></script>
    <!-- /theme JS files -->
    <!-- Theme JS files -->
    <script src="~/template/global_assets/js/plugins/forms/styling/uniform.min.js"></script>

</head>
<div class="row d-flex justify-content-center align-items-center">
    <form class="login-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">Register</h5>
                    <span class="d-block text-muted">All fields are required</span>
                </div>

                <div class="form-group text-center text-muted content-divider">
                    <span class="px-2">Your credentials</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" asp-for="Input.Username" class="form-control" placeholder="Username">
                    <div class="form-control-feedback">
                        <i class="icon-user-check text-muted"></i>
                    </div>
                    <span asp-validation-for="Input.Username" class="form-text text-danger"></span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password">
                    <div class="form-control-feedback">
                        <i class="icon-user-lock text-muted"></i>
                    </div>
                    <span asp-validation-for="Input.Password" class="form-text text-danger"></span>
                </div>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                    <div class="form-control-feedback">
                        <i class="icon-check text-muted"></i>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="form-text text-danger"></span>
                </div>
                <button type="submit" class="btn bg-teal-400 btn-block">Register <i class="icon-circle-right2 ml-2"></i></button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
