<div class="modal fade" id="table_CatatanKeperawatanHistory">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h6 class="modal-title"><label class="itable-title-type"></label>Riwayat</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form class="itable-form">
                    @Html.AntiForgeryToken()
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <input type="hidden" data-itable-filter="Id" name="Id" />
                    <input type="submit" class="d-none" />
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped">
                        <thead>
                            <tr class="bg-indigo-400">
                                <th class="sorting text-center" data-itable-sorting="0" style="width: 140px">Tanggal Pengambilan Form</th>
                                <th class="text-center" style="width: 160px">Profesi</th>
                                <th class="text-center" style="width: 160px">Jenis Form</th>
                                <th class="text-center">Tindakan</th>
                                <th class="text-center" style="width: 234px">Verifikasi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_CatatanKeperawatanHistory;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_CatatanKeperawatanHistory = new iTable({
            id: 'table_CatatanKeperawatanHistory',
            url: '@Url.Action("History_CatatanKeperawatan", "CatatanKeperawatan")',
            orderBy: 1,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns
                        tbody += `<td class="text-center align-top">${dateToString(v.tanggal, 'dd/MM/yyyy HH:mm') ?? '-'}</td>`;
                        tbody += `<td class="text-center align-top">${v.profesiRole ?? '-'}<br/>${v.sectionName}</td>`;
                        tbody += `<td class="text-center align-top">${v.id_mJenisCatatanPerawat_Text ?? '-'}</td>`;
                        tbody += `<td class="text-left align-top">${replaceLineBreak(v.tindakan) ?? '-'}</td>`;

                        //VERIFIKASI
                        tbody += `<td class="text-left align-top">`;
                        tbody += `<div>`;

                        tbody += `
                                <div class="form-group">
                                    <p>Dibuat oleh: </p>
                                    <p>
                                        <b>${v.pembuat_Nama}</b>
                                    </p>
                                </div>`;

                        tbody += `<div class="form-group">`
                        if (v.perluSerahTerima) {
                            if (v.sudahSerahTerima) {
                                const serahTerima = v.waktuSerahTerima ? `<br/>(${dateToString(v.waktuSerahTerima, 'dd-MM-yyyy HH:mm')})` : '';
                                tbody += `<label>Diterima oleh:<br/><b>${v.penerima_Nama}${serahTerima}</b></label>`;
                            } else {
                                tbody += `<label>Belum serah terima</label>`;
                            }
                        }
                        tbody += `</div>`

                        tbody += `<div class="form-group">`
                        if (v.perluDoubleCheck) {
                            if (v.sudahDoubleCheck) {
                                const doubleCheck = v.waktuDoubleCheck ? `<br/>(${dateToString(v.waktuDoubleCheck, 'dd-MM-yyyy HH:mm')})` : '';
                                tbody += `<label>Diperiksa ulang :<br/><b>${v.doubleCheck_Nama}${doubleCheck}</b></label>`;
                            } else {
                                tbody += `<label>Belum double check</label>`;
                            }
                        }
                        tbody += `</div>`

                        tbody += `</div>`;
                        tbody += `</td>`;

                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_CatatanKeperawatanHistory.onAllPeriode = (cb) => {

            let inputs = $(itable_CatatanKeperawatanHistory.id).find(".all-periode-change");

            if (cb.checked === false) {
                inputs.val("");
                itable_CatatanKeperawatanHistory.refresh();
            }

            inputs.prop("disabled", !cb.checked)
        }

        itable_CatatanKeperawatanHistory.show = idCppt => {

            const form = $(itable_CatatanKeperawatanHistory.id).find('form')[0];

            form['Id'].value = idCppt;

            itable_CatatanKeperawatanHistory.openModal();

            itable_CatatanKeperawatanHistory.refresh();
        }

        customJS_CatatanKeperawatanHistory();
    });

    const customJS_CatatanKeperawatanHistory = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<!--partial-->
