<div id="modalLookup_lookUpDiagnosa" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Diagnosa</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <div class="row col">
                        <div class="col-md">							<div class="form-group">								<label for="Filter">Filter</label>								<input type="text" id="modalLookup_lookUpDiagnosa_Filter" data-itable-filter="Filter" placeholder="Filter" class="form-control" value="" />							</div>						</div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-multiple">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left" data-itable-sorting="0">Kode ICD</th>								<th class="sorting text-left" data-itable-sorting="1">Descriptions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_lookUpDiagnosa;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_lookUpDiagnosa= new iTable({
            id: 'modalLookup_lookUpDiagnosa',
            url: '@Url.Action("LookUp_Diagnosa", "AsesmenDokterRI")',
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.kodeICD}</td>`;						tbody += `<td class="text-left">${v.descriptions}</td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                v.forEach(x => isetup_AsesmenDokterRI.addTableValue_tableDiagnosa({
					KodeICD:x.kodeICD
				}, {
					KodeICD:x.kodeICD,					KodeICD_Text:x.descriptions,					NoUrut:1
				}));
            }
        });
    });
</script>