@using System.Security.Claims
@{
    var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var now = DateTime.Now;
    var max = now.Date.AddDays(1).AddSeconds(-1);
}

<!-- CSS CUSTOM -->
<div id="setup_AsesmenDokterRI">
    <form autocomplete="off">
        @Html.AntiForgeryToken()

        <input type="hidden" name="NoReg" />
        <input type="hidden" name="NRM" />

        <div class="row">

            @*Kedatangan*@

            <div class="col-md">
                <div class="form-group">
                    <label for="setup_AsesmenDokterRI_WaktuPelayanan" class="">Waktu Pelayanan</label>
                    <input type="datetime-local" id="setup_AsesmenDokterRI_WaktuPelayanan" name="WaktuPelayanan" class="form-control text-left" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">
                    <label for="setup_AsesmenDokterRI_alasanKunjungan">Alasan Kunjungan</label>
                    <select placeholder="Alasan kunjungan" id="setup_AsesmenDokterRI_alasanKunjungan" name="Id_mAlasanKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AlasanKunjungan", "AsesmenDokterUGD")'></select>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md">

                <div class="row">
                    <p class="text-dark h3 text-left col-md-3">Subjektif</p>
                    <div class="col-md text-right">
                        <button type="button" onclick="isetup_AsesmenDokterRI.sadurAnamnesis()" class="btn btn-sm bg-success">
                            <i class="icon-paste mr-2"></i>
                            Sadur Anamnesis & Pemeriksaan
                        </button>
                        <button type="button" onclick="isetup_AsesmenDokterRI.loadIntegrasiPengkajianPerawat()" class="btn btn-light btn-sm">
                            <i class="icon-sync"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterRI_input6" class="col-md-4 mt-2">Anamnesis</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRI_input6" data-template-jenis="16"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterRI_input6" name="Anamnesis" class="form-control text-left" rows="7"></textarea>
                    <div class="row mt-1">
                        <div class="col-md">
                            <div class="mt-2">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenDokterRI_input4" name="Autoanamnesis" type="checkbox" class="form-check-input">
                                        Autoanamnesis
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input id="setup_AsesmenDokterRI_input5" name="Alloanamnesis" type="checkbox" class="form-check-input">
                                        Alloanamnesis
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <select placeholder="Hubungan dengan pasien" id="setup_AsesmenDokterRI_select2" name="Id_mHubunganPasien" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_HubunganPasien", "AsesmenDokterUGD")'></select>
                        </div>
                    </div>
                </div>

                <div class="card-group-control card-group-control-right pt-1">
                    <div class="col card border-top-indigo">
                        <div class="card-header pb-1">
                            <h6 class="card-title">
                                <a href="#setupAsesmenDokterRI_Card_Riwayat" class="text-dark text-left" data-toggle="collapse" aria-expanded="false">Riwayat</a>
                            </h6>
                        </div>

                        <div id="setupAsesmenDokterRI_Card_Riwayat" class="collapse card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenDokterRI_RiwayatAlergi">Riwayat Alergi</label>
                                <textarea id="setup_AsesmenDokterRI_RiwayatAlergi" name="RiwayatAlergi" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenDokterRI_RiwayatPenyakitDahulu">Riwayat Penyakit Dahulu</label>
                                <textarea id="setup_AsesmenDokterRI_RiwayatPenyakitDahulu" name="RiwayatPenyakitDahulu" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenDokterRI_RiwayatPengobatan">Riwayat Pengobatan</label>
                                <textarea id="setup_AsesmenDokterRI_RiwayatPengobatan" name="RiwayatPengobatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Riwayat*@

            <div class="col-md">

                <div class="row">
                    <p class="text-dark h3 text-left col-md">Integrasi Pengkajian Perawat</p>
                </div>

                <div class="row form-group">
                    <div class="col-md">
                        <label for="setup_AsesmenDokterRI_PerawatSO">Anamnesis & Pemeriksaan Perawat</label>
                        <div style="height: 273px;" class="card overflow-auto">
                            <div class="card-body" id="setup_AsesmenDokterRI_SubjektifObjektif">

                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <label for="setup_AsesmenDokterRI_PerawatDaftarMasalah">Daftar masalah & rekomendasi</label>
                        <div style="height: 273px;" class="card overflow-auto">
                            <div class="card-body" id="setup_AsesmenDokterRI_PerawatDaftarMasalah">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        @*Objektif*@

    <div class="row">

        <div class="col-md">

            <div class="">
                <p class="text-dark h3 text-left">Objektif</p>
            </div>

            <div class="form-group">
                <div class="row">
                    <label for="setup_AsesmenDokterRI_PemeriksaanFisik" class="col-md-4 mt-2">Pemeriksaan Fisik</label>
                    <div class="col-md text-right mb-1">
                        <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRI_PemeriksaanFisik" data-template-jenis="17"></select>
                    </div>
                </div>
                <textarea id="setup_AsesmenDokterRI_PemeriksaanFisik" name="PemeriksaanFisik" class="form-control text-left" rows="8"></textarea>
            </div>

            <div class="card-group-control card-group-control-right pt-1">
                <div class="col card border-top-indigo">
                    <div class="card-header">
                        <h6 class="card-title">
                            <a href="#setupAsesmenDokterRI_Card_BodyDiagram" class="text-dark text-left" data-toggle="collapse" aria-expanded="false">Body Diagram</a>
                        </h6>
                    </div>

                    <div id="setupAsesmenDokterRI_Card_BodyDiagram" class="collapse card-body">
                        <div class="form-group text-center">
                            <img crossorigin="anonymous" class="ipainter" name="BodyDiagramView" data-src="@Url.Content("images/Paparan.png")" width="400" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label for="setup_AsesmenDokterRI_PemeriksaanPenunjang" class="col-md-4 mt-2">Pemeriksaan Penunjang</label>
                    <div class="col-md text-right mb-1">
                        <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRI_PemeriksaanPenunjang" data-template-jenis="18"></select>
                    </div>
                </div>
                <textarea id="setup_AsesmenDokterRI_PemeriksaanPenunjang" name="PemeriksaanPenunjang" class="form-control text-left" rows="5"></textarea>
            </div>
        </div>

        <div class="col-md">
            <h4>Asesmen</h4>

            <div class="form-group">
                <label for="setup_AsesmenDokterRI_DiagnosaUtamaKeterangan">Diagnosa</label>
                <textarea id="setup_AsesmenDokterRI_DiagnosaUtamaKeterangan" name="DiagnosaUtamaKeterangan" class="form-control text-left"></textarea>
            </div>

            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="tableDiagnosa">
                        <thead>
                            <tr class="bg-slate">
                                <th class="table-button">
                                    <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itable_lookUpDiagnosa.openModal()">
                                        <i class="icon-plus22"></i>
                                    </button>
                                </th>
                                <th></th>
                                <th class="d-none">Kode</th>
                                <th>Diagnosa</th>
                                <th>Jenis</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-md">

            <label for="setup_AsesmenDokterRI_input2" class="text-dark h4">Planning</label>


            <div class="form-group">
                <div class="row">
                    <label for="setup_AsesmenDokterRI_input2" class="col-md-4 mt-2">Rencana Asuhan</label>
                    <div class="col-md text-right mb-1">
                        <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRI_input2" data-template-jenis="19"></select>
                    </div>
                </div>
                <textarea id="setup_AsesmenDokterRI_input2" name="Planning_RencanaAsuhan" class="form-control text-left" rows="4"></textarea>
            </div>

            <div class="form-group">
                <div class="row">
                    <label for="setup_AsesmenDokterRI_CatatanPlanning" class="col-md-4 mt-2">Sasaran Asuhan</label>
                    <div class="col-md text-right mb-1">
                        <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterRI_CatatanPlanning" data-template-jenis="20"></select>
                    </div>
                </div>
                <textarea id="setup_AsesmenDokterRI_CatatanPlanning" name="Planning_SasaranAsuhan" class="form-control text-left" rows="3"></textarea>
            </div>

            <div class="form-group row">

                <div class="col-md-5">
                    <label for="setup_AsesmenDokterRI_PerkiraanHariRawat">Perkiraan hari rawat</label>
                    <div class="input-group">
                        <input type="number" id="setup_AsesmenDokterRI_PerkiraanHariRawat" name="Discharge_HariRawat" class="form-control text-left" />
                        <div class="input-group-append">
                            <span class="input-group-text">Hari</span>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <label>Butuh perencanaan pulang khusus</label>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Discharge_MPP" value="true">
                            Ya
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="Discharge_MPP" value="false">
                            Tidak
                        </label>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <label for="setup_AsesmenDokterRI_input3" class="text-dark h4">Instruksi</label>
                <textarea id="setup_AsesmenDokterRI_input3" name="Instruksi" class="form-control text-left" rows="4"></textarea>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center">

        <div class="form-check form-check-inline">
            <input id="setup_AsesmenDokterRI_IsiDenganBenar" name="IsiDenganBenar" type="checkbox" class="form-check-input" checked>
            <label class="form-check-label mt-1" for="setup_AsesmenDokterRI_IsiDenganBenar">
                Saya telah mengisi asesmen dengan benar
            </label>
        </div>

        <button type="button" onclick="isetup_AsesmenDokterRI.edit()" class="btn btn-lg bg-warning show-only-type-get mr-2 user-validation">Edit</button>

        <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2 user-validation"></i>Save</button>
    </div>

    </form>
</div>

<script>
    let isetup_AsesmenDokterRI;

    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_AsesmenDokterRI = new iSetup({
            id: 'setup_AsesmenDokterRI',
            url: '@Url.Action("ActionAsesmenDokterRI", "AsesmenDokterRI")',
            param: e => ({
                NoReg: e.target['NoReg'].value,
                model: getModelFromForm(e.target, isetup_AsesmenDokterRI)
            }),
            success: (r, t) => {
                if (r.success) {

                    showAlert("Data berhasil disimpan.", "success");

                    isetup_AsesmenDokterRI.load();
                }
            },
            modalDataOnSuccess: (r, t) => {},
            stateDataOnSuccess: (r, t) => {
                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    (r.data.tableDiagnosa || []).forEach(x => {
                        isetup_AsesmenDokterRI.addTableValue_tableDiagnosa({
                            KodeICD: x.kodeICD
                        }, x);
                    });

                    if (r.data.userId != '@userId') {
                        $(isetup_AsesmenDokterRI.id).find('.user-validation').addClass('d-none');
                    } else {
                        $(isetup_AsesmenDokterRI.id).find('.user-validation').removeClass('d-none');
                    }

                    isetup_AsesmenDokterRI.initModel();
                }
            },
            modalOnReady: (e, t) => {
            }
        });

        isetup_AsesmenDokterRI.edit = () => {
            isetup_AsesmenDokterRI.openState('PUT', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenDokterRI.load = () => {
            isetup_AsesmenDokterRI.openState('GET', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenDokterRI.new = () => {
            isetup_AsesmenDokterRI.openState('POST', {});

            const form = $(isetup_AsesmenDokterRI.id).find('form')[0];
            form['NoReg'].value = '@pasien.NoReg';
            form['NRM'].value = '@pasien.NRM';
            form['RiwayatAlergi'].value = iView_Pasien.riwayatAlergi ?? '';
            isetup_AsesmenDokterRI.initModel();
        }

        isetup_AsesmenDokterRI.loadIntegrasiPengkajianPerawat = (model) => {

            $.ajax({
                url: `@Url.Action("ActionAsesmenPerawatRI", "AsesmenPerawatRI", new { NoReg = pasien.NoReg })`,
                type: 'GET',
                success: r => {
                    if (!r.success) {
                        if (r.message == 'Data tidak ditemukan') return;
                        alertError(r.message);
                    }
                    if (r.success) {
                        const model = r.data;

                        isetup_AsesmenDokterRI.sadurAnamnesisModel = model;

                        $(isetup_AsesmenDokterRI.id).find('#setup_AsesmenDokterRI_SubjektifObjektif').html(
                            `
                            <h5 class="mb-0"><b>Anamnesis</b></h5>
                            <p>${replaceLineBreak(model.anamnesis ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Alergi:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatAlergi ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Penyakit Dahulu:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatPenyakitDahulu ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Pengobatan:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatPengobatan ?? '-')}</p>

                            <h5 class="mb-0"><b>Pemeriksaan Fisik Perawat</b></h5>
                            <p>${replaceLineBreak(model.objektif_PemeriksaanFisik ?? '-')}</p>
                            `
                        );

                        $(isetup_AsesmenDokterRI.id).find('#setup_AsesmenDokterRI_PerawatDaftarMasalah').html(
                            `
                            <h5 class="mb-0"><b>Diagnosis Keperawatan</b></h5>
                            <p>${replaceLineBreak(model.asesmen_MasalahKeperawatan ?? '-')}</p>

                            <h5 class="mb-0"><b>Rekomendasi</b></h5>

                            <p class="mb-0"><b><i>Planning:</i></b></p
                            <p>${replaceLineBreak(model.planning ?? '-')}</p>

                            <p class="mb-0"><b><i>Instruksi:</i></b></p>
                            <p>${replaceLineBreak(model.instruksi ?? '-')}</p>
                             `
                        );
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        isetup_AsesmenDokterRI.sadurAnamnesis = () => {

            if (isetup_AsesmenDokterRI.type == 'GET') return;

            const model = isetup_AsesmenDokterRI.sadurAnamnesisModel;
            const form = $(isetup_AsesmenDokterRI.id).find('form')[0];

            form['Anamnesis'].value = model.anamnesis;
            form['RiwayatAlergi'].value = model.riwayatAlergi;
            form['RiwayatPenyakitDahulu'].value = model.riwayatPenyakitDahulu;
            form['RiwayatPengobatan'].value = model.riwayatPengobatan;
            form['PemeriksaanFisik'].value = model.objektif_PemeriksaanFisik;

            $(isetup_AsesmenDokterRI.id).find('#setup_AsesmenDokterRI_alasanKunjungan').setSelect2Value(model.id_mAlasanKunjungan, model.id_mAlasanKunjungan_Text);

        }

        isetup_AsesmenDokterRI.addTableValue_tableDiagnosa = (key, model) => {
            const tbl = $(isetup_AsesmenDokterRI.id).find(`.table-detail[data-name="tableDiagnosa"]`);
            const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
            if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
                alertWarning('Data already exists');
                return;
            }
            let r = '';
            r += `
				<tr data-key='${skey}'>
                    <td class="d-none"><input type='hidden' data-name='NoUrut'/></td>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
                    <td class="table-button">
                        <button type="button" class="disabled-only-type-get btn btn-info" onclick="isetup_AsesmenDokterRI.detailFilterSwap(this)"><i class="icon-loop4"></i></button>
                    </td>
					<td class="table-input d-none"><input class="form-control text-left" type="text" data-name="KodeICD" readonly/></td>
					<td data-name="KodeICD_Text"></td>
                    <td data-jenis="Jenis" class="text-center">Jenis</td>
				</tr>
			`;
            tbl.find('tbody').append(r);
            const tr = tbl.find('tbody').find('tr:last');
            initDetailTr(tr, model, 'tableDiagnosa', isetup_AsesmenDokterRI);

            isetup_AsesmenDokterRI.setDiagnosaUtama();
        };

        isetup_AsesmenDokterRI.detailFilterSwap = t => {
            const next = $(t).closest('tr').next();
            if (next.length) {
                next.after($(t).closest('tr'));
            }

            isetup_AsesmenDokterRI.setDiagnosaUtama();
        };

        isetup_AsesmenDokterRI.setDiagnosaUtama = () => {
            $(isetup_AsesmenDokterRI.id).find(`.table-detail[data-name="tableDiagnosa"]`).find('tbody tr').find('td:last').html('<a href="#" class="badge badge-secondary">Sekunder</a>')
            $(isetup_AsesmenDokterRI.id).find(`.table-detail[data-name="tableDiagnosa"]`).find('tbody tr:first td:last').html('<span class="badge badge-primary">Utama</span>');
        }

        isetup_AsesmenDokterRI.isModified = () => {
            const setup = isetup_AsesmenDokterRI;
            const model = getModelFromForm($(setup.id).find('form')[0], setup);

            setup.newModel = model;

            return objectIsEqual(model, setup.model) === false;
        }

        isetup_AsesmenDokterRI.initModel = () => {
            const setup = isetup_AsesmenDokterRI;

            setup.model = getModelFromForm($(setup.id).find('form')[0], setup);

            return setup.model;
        }

        document.addEventListener('RiwayatAlergiLoaded', function (e) {
            const setup = isetup_AsesmenDokterRI;
            if (setup.type == 'POST') {
                const form = $(setup.id).find('form')[0];
                form['RiwayatAlergi'].value = iView_Pasien.RiwayatAlergi;
                setup.initModel();
            }
        }, false);

        customJSSetup_AsesmenDokterRI();
    });

    const customJSSetup_AsesmenDokterRI = () => {
        @if(pengisianEMR.AsesmenDokter == true)
        {
            @:isetup_AsesmenDokterRI.load();
        }
        else
        {
            @:isetup_AsesmenDokterRI.new();
        }

        @if(pengisianEMR.AsesmenPerawat == true)
        {
            @:isetup_AsesmenDokterRI.loadIntegrasiPengkajianPerawat();
        }
    };
</script>

@await Html.PartialAsync("~/Views/AsesmenDokterRI/LookUp_lookupDiagnosa.cshtml")
