﻿<!-- CSS CUSTOM -->

<div id="modal_Obat_Detail" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Detail Obat</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div id="obat-header">
                        <div class="row m-1">
                            <div class="col-md">
                                <dl class="row">
                                    <dt class="col-md-3">Tanggal</dt>
                                    <dd id="modal_Obat_Detail_Tanggal" class="col-md-9"></dd>
                                    <dt class="col-md-3">Farmasi</dt>
                                    <dd id="modal_Obat_Detail_Farmasi" class="col-md-9 "></dd>
                                    <dt class="col-md-3">Berat Badan</dt>
                                    <dd id="modal_Obat_Detail_BeratBadan" class="col-md-9 "></dd>
                                </dl>
                            </div>
                            <div class="col-md">
                                <dl class="row">
                                    <dt class="col-md-3">Dokter</dt>
                                    <dd id="modal_Obat_Detail_Dokter" class="col-md-9 "></dd>
                                    <dt class="col-md-3">CITO</dt>
                                    <dd class="col-md-9"><input id="modal_Obat_Detail_Cito" type="checkbox" onclick="return false;" /></dd>
                                    <dt class="col-md-3">Catatan</dt>
                                    <dd id="modal_Obat_Detail_CatatanFarmasi" class="col-md-9 "></dd>
                                </dl>
                            </div>
                        </div>

                        <div class="card mt-2 show-puyer">
                                <div class="card-header">
                                    <h5 class="card-title">Obat Racik</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md">
                                            <dl class="row">
                                                <dt class="col-md-3">Jumlah</dt>
                                                <dd id="modal_Obat_Detail_Puyer_Jumlah" class="col-md-9"></dd>
                                            </dl>
                                            <dl class="row">
                                                <dt class="col-md-3">Aturan 1</dt>
                                                <dd id="modal_Obat_Detail_Puyer_Aturan_1" class="col-md-9"></dd>
                                            </dl>
                                        </div>
                                        <div class="col-md">
                                            <dl class="row">
                                                <dt class="col-md-3">Keterangan</dt>
                                                <dd id="modal_Obat_Detail_Puyer_Keterangan" class="col-md-9"></dd>
                                            </dl>
                                            <dl class="row">
                                                <dt class="col-md-3">Aturan 2</dt>
                                                <dd id="modal_Obat_Detail_Puyer_Aturan2" class="col-md-9"></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div id="obat-detail" class="table-responsive mt-2">
                        <table class="table dataTable table-xs table-striped">
                            <thead>
                                <tr>
                                    <th>Nama Obat</th>
                                    <th class="text-center show-puyer">Ket Dosis</th>
                                    <th class="text-center show-puyer">Qty</th>

                                    <th class="show-resep">Sat</th>
                                    <th class="show-resep">Aturan Pakai</th>
                                    <th class="show-resep">Aturan Pakai 2</th>
                                    <th class="show-resep">Qty</th>
                                    <th class="show-resep">Ket Dosis</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_DetailObat;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_DetailObat = new iSetup({
            id: 'modal_Obat_Detail',
            url : '@Url.Action("Data_ObatDetail", "Obat")',
            param: e => ({
                NoBukti: e.target['NoBukti'].value,
            }),
            success: (r, t) => {
                if (r.success) {
                }
            },
            modalDataOnSuccess: (r, t) => {
                const obatDetailId = "modal_Obat_Detail";

                data = r.data;

                if (data.puyer == true) {
                    $(isetup_DetailObat.id).find('.show-resep').addClass('d-none');
                    $(isetup_DetailObat.id).find('.show-puyer').removeClass('d-none');
                } else {
                    $(isetup_DetailObat.id).find('.show-puyer').addClass('d-none');
                    $(isetup_DetailObat.id).find('.show-resep').removeClass('d-none');
                }

                $(`#${obatDetailId}_Tanggal`).text(data.tanggal ? dateToString(data.tanggal, 'dd-MM-yyyy') : '-');
                $(`#${obatDetailId}_Farmasi`).text(data.namaSection ?? '-');

                const htmlSatuanPuyer = data.satuanPuyer ? `<span class="badge bg-success-400">${data.satuanPuyer}</span>` : ``;

                $(`#${obatDetailId}_BeratBadan`).html(`${data.beratBadan ?? '-'}`);
                $(`#${obatDetailId}_Puyer_Jumlah`).html(`${data.qtyPuyer ?? '-'} ${htmlSatuanPuyer}`);
                $(`#${obatDetailId}_Dokter`).text(data.namaDOkter ?? '-');
                $(`#${obatDetailId}_Puyer_Aturan_1`).text(data.aturan1 ?? '-');
                $(`#${obatDetailId}_Puyer_Keterangan`).text(data.keterangan ?? '-');
                $(`#${obatDetailId}_Puyer_Aturan2`).text(data.aturan2 ?? '-');
                $(`#${obatDetailId}_CatatanFarmasi`).text(data.catatanFarmasi ?? '-');

                $(`#${obatDetailId}_Cito`).prop('checked', data.cito == true);

                let tbody = ``;

                if (data.detail.length === 0) tbody = t.trempty();

                $.each(data.detail, (index, dt) => {
                    tbody += `<tr>`;
                    tbody += `<td>${dt.nama_Barang}</td>`;

                    if (data.puyer) {
                        tbody += `<td class='text-center'>${dt.ketDosis ?? ''}</td>`;
                        tbody += `<td class='text-center'>${dt.jmlObat}</td>`;
                    } else {
                        tbody += `<td>${dt.satuan}</td>`;
                        tbody += `<td>${dt.dosis ?? ''}</td>`;
                        tbody += `<td>${dt.aturan2 ?? ''}</td>`;
                        tbody += `<td class='text-center'>${dt.jmlObat}</td>`;
                        tbody += `<td>${dt.ketDosis ?? ''}</td>`;
                    }
                            
                    tbody += `</tr>`;
                });

                $('#obat-detail').find('tbody').html(tbody);

            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
				}
			}
        });

        customJSsetup_DetailObat();
    });

    const customJSsetup_DetailObat = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

