﻿<div id="modal_DokumenRekamMedisDetail" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"></h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script>
    let isetup_DokumenRekamMedisDetail = {};
    document.addEventListener("DOMContentLoaded", function (event) {

        isetup_DokumenRekamMedisDetail.show = (fileName, url) => {

            jThis = $('#modal_DokumenRekamMedisDetail');

            jThis.css('z-index', 1060);
            jThis.modal({ backdrop: 'static' });
            $('.modal-backdrop.fade.show').last().css('z-index', jThis.css('z-index') - 1);

            jThis.find('.modal-title').text(fileName);
            jThis.find('.modal-body').html(`<object id="id_pdf" data=${url} type="application/pdf" width="100%" height="800px"></object>`);
        }

        $('#modal_DokumenRekamMedisDetail').on('hidden.bs.modal', e => {
            if ($('.modal.show').length > 0)
                $('body').addClass('modal-open');
        });
    });
</script>
