@{
    ViewData["Title"] = "Order Penunjang Kelompok";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_OrderPenunjangKelompok">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Order Penunjang Kelompok</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_OrderPenunjangKelompok.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_OrderPenunjangKelompok.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Nama">Nama</label>
                    <input type="text" id="Nama" data-itable-filter="Nama" placeholder="Nama" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="FilterJenis">Jenis</label>
                <input type="text" id="FilterJenis" data-itable-filter="Jenis" placeholder="Jenis" class="form-control" value="" />
            </div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" data-itable-sorting="0">Nomor</th>					<th class="sorting text-left" data-itable-sorting="1">Nama</th>					<th class="sorting text-left" data-itable-sorting="2">Jenis</th>					<th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_OrderPenunjangKelompok;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_OrderPenunjangKelompok = new iTable({
            id: 'table_OrderPenunjangKelompok',
            url: '@Url.Action("Datas_OrderPenunjangKelompok", "OrderPenunjangKelompok")',
            urlType:{
                DELETE : '@Url.Action("OrderPenunjangKelompok")'
            },
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.nomor}</td>`;						tbody += `<td class="text-left">${v.nama}</td>`;						tbody += `<td class="text-left">${v.jenisID_Text}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action						tbody += `<a class="dropdown-item" href="javascript:isetup_OrderPenunjangKelompok.openModal('GET',{ ID : '${v.id}' })"><i class="icon-eye"></i> Details</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:isetup_OrderPenunjangKelompok.openModal('PUT',{ ID : '${v.id}' })"><i class="icon-pencil"></i> Edit</a></li>`;
						tbody += `<a class="dropdown-item" href="javascript:itable_OrderPenunjangKelompok.delete({ ID : '${v.id}' }, itable_OrderPenunjangKelompok)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_OrderPenunjangKelompok.refresh();

        customJS_OrderPenunjangKelompok();
    });

    const customJS_OrderPenunjangKelompok = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="SetupOrderPenunjangKelompok"/>