<!-- CSS CUSTOM -->

<div id="modal_OrderPenunjangKelompok" class="modal fade">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Order Penunjang Kelompok</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">

                        <input type="hidden" name="ID" />

                        <div class="col">
                            <div class="form-group">
                                <label for="jenis">Jenis</label>
                                <select placeholder="Jenis" required id="jenis" name="JenisID" class="open-reset form-control text-left" data-datasource='@Url.Action("mOrderPenunjang_Jenis")'></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="nomor">No Urut Kelompok</label>
                                <input type="text" id="nomor" name="Nomor" class="form-control text-left" />
                            </div>
                        </div>
                    </div>
					<div class="form-group">
						<label for="nama">Nama</label>
						<input required type="text" id="nama" name="Nama" class="form-control text-left"/>
					</div>
					<div class="">
						<div class="form-group table-responsive">
							<table class="table table-bordered table-xs table-striped table-detail table-column" data-name="tableJasa">
								<thead>
									<tr class="bg-slate">
										<th class="table-button">
											<button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itable_tableJasa.openModal()">
												<i class="icon-plus22"></i>
											</button>
										</th>
										<th></th>
										<th>Nama Jasa</th>
                                        <th>Nama Alias</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_OrderPenunjangKelompok;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_OrderPenunjangKelompok = new iSetup({
            id: 'modal_OrderPenunjangKelompok',
            url : '@Url.Action("OrderPenunjangKelompok")',
            param: e => ({
                ID: e.target['ID'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_OrderPenunjangKelompok),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_OrderPenunjangKelompok.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);
                (r.data.tableJasa || []).forEach(x => {
					isetup_OrderPenunjangKelompok.addTableValue_tableJasa({
						Kelompok_ID: x.kelompok_ID,
						JasaID: x.jasaID
					}, x);
				});
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    form['ID'].value = '(Auto)';
				}
			}
        });

        isetup_OrderPenunjangKelompok.addTableValue_tableJasa = (key, model) => {
			const tbl = $(isetup_OrderPenunjangKelompok.id).find(`.table-detail[data-name="tableJasa"]`);
			const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
			if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
				alertWarning('Data already exists');
				return;
			}
			let r = '';
			r += `
				<tr data-key='${skey}'>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
					<td class="table-button">
                        <button type="button" class="disabled-only-type-get btn btn-info" onclick="isetup_OrderPenunjangKelompok.detailFilterSwap(this)"><i class="icon-loop4"></i></button>
                    </td>
					<td class="d-none"><input type="text" data-name="JasaID"/></td>
					<td data-name="NamaJasa"></td>
                    <td class="table-input">
                        <input class="form-control text-left" type="text" data-name="NamaAlias">
                    </td>
				</tr>
			`;
			tbl.find('tbody').append(r);
			const tr = tbl.find('tbody').find('tr:last');
			initDetailTr(tr, model, 'table1', isetup_OrderPenunjangKelompok);
		};

        isetup_OrderPenunjangKelompok.detailFilterSwap = t => {
            const next = $(t).closest('tr').next();
            if (next.length) {
                next.after($(t).closest('tr'));
            }
        };

        customJSSetup_OrderPenunjangKelompok();
    });

    const customJSSetup_OrderPenunjangKelompok = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="LookUp_tableJasa"/>