@{ var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; }

<div id="setup_RegisterDpjp" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Pengaturan Dpjp</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form autocomplete="off">

                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="card-body">
                        <div class="form-group">
                            <label for="setup_RegisterDpjp_DokterId">DPJP Utama</label>
                            <select class="form-control" id="setup_RegisterDpjp_DokterId" placeholder="DPJP" name="DokterId" data-datasource='@Url.Action("Vw_Select_Dokter", "RegisterDpjp")'></select>
                        </div>
                        <label for="setup_RegisterDpjp_DokterId">DPJP Lain</label>
                        <div class="">
                            <div class="form-group table-responsive">
                                <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="tabelRegisterDpjp">
                                    <thead>
                                        <tr class="bg-slate">
                                            <th class="table-button">
                                                <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itable_tabelRegisterDpjp.openModal()">
                                                    <i class="icon-plus22"></i>
                                                </button>
                                            </th>
                                            <th>Dokter</th>
                                            <th>Status DPJP</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn bg-primary show-only-type-post show-only-type-put" onclick="isetup_RegisterDpjp.submit()">Simpan</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    let isetup_RegisterDpjp;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_RegisterDpjp = new iSetup({
            id: 'setup_RegisterDpjp',
            url : '@Url.Action("RegisterDpjp", "RegisterDpjp")',
            param: e => ({
                NoReg: '@pasien.NoReg',
                Nomor: @pasien.Nomor,
                model: {
                    ...getModelFromForm(e.target, isetup_RegisterDpjp),
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    showAlert("Data berhasil disimpan.", 'success');
                    $(t.id).modal('hide');

                    window.location.reload(false);
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);
                (r.data.tabelRegisterDpjp || []).forEach(x => {
                    isetup_RegisterDpjp.addTableValue_tabelRegisterDpjp({
                        NoReg: x.noReg,
                        DokterID: x.dokterID,
                        Id_mStatusDPJP: x.id_mStatusDPJP
                    }, x);
                });

            },
            modalOnReady: (e, t) => {
            }
        });

        isetup_RegisterDpjp.addTableValue_tabelRegisterDpjp = (key, model) => {
			const tbl = $(isetup_RegisterDpjp.id).find(`.table-detail[data-name="tabelRegisterDpjp"]`);
			const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
			if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
				alertWarning('Data already exists');
				return;
			}
			let r = '';
			r += `
				<tr data-key='${skey}'>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
					<td class="d-none"><input type="text" data-name="NoReg"/></td>
					<td class="d-none"><input type="text" data-name="DokterID"/></td>
					<td data-name="DokterID_Text"></td>
					<td class="table-input">
						<select class="form-control" placeholder="Status DPJP" data-datasource='@Url.Action("Select_StatusDpjp", "RegisterDpjp")' data-name="Id_mStatusDPJP"></select>
					</td>
				</tr>
			`;
			tbl.find('tbody').append(r);
			const tr = tbl.find('tbody').find('tr:last');
            initDetailTr(tr, model, 'tabelRegisterDpjp', isetup_RegisterDpjp);
        };

        isetup_RegisterDpjp.submit = () => {
           
            showConfirmationDialog("Menyimpan data ini akan merefresh halaman, silahkan membatalkan jika masih ada pekerjaan yang belum tersimpan?", () => {
                const form = $(isetup_RegisterDpjp.id).find('form');
                $(form).submit();
            });
        }

    });
</script>
@await Html.PartialAsync("~/Views/RegisterDpjp/LookUp_tabelRegisterDpjp.cshtml", new ViewDataDictionary(ViewData))