@{ 
    var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg; 
}

<div id="modal_RiwayatAlergi" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>RiwayatAlergi</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" id="Id" name="ID" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                    </div>
                    <div class="form-group d-none">
                        <input type="hidden" id="NRM" name="NRM" />
                    </div>
                    <div class="form-group">
                        <label for="Tanggal">Tanggal</label>
                        <input type="date" id="Tanggal" name="Tanggal" class="form-control text-left" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                    </div>
                    <div class="form-group">
                        <label for="Jenis">Jenis</label>
                        <select placeholder="Jenis" id="Jenis" name="JenisID" class="open-reset form-control text-left" data-datasource='@Url.Action("mJenisRiwayatAlergiPasien", "RiwayatAlergi")'></select>
                    </div>
                    <div class="form-group">
                        <label for="Alergi">Alergi</label>
                        <textarea id="Alergi" name="RiwayatAlergi" class="form-control text-left"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Keterangan">Keterangan</label>
                        <textarea id="Keterangan" name="KeteranganAlergi" class="form-control text-left"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_RiwayatAlergi;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_RiwayatAlergi = new iSetup({
            id: 'modal_RiwayatAlergi',
            url : '@Url.Action("RiwayatAlergi", "RiwayatAlergi")',
            param: e => ({
                ID: e.target['ID'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_RiwayatAlergi),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_RiwayatAlergi.refresh();

                    iView_Pasien.loadRiwayatAlergi();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    form['ID'].value = '(Auto)';
                    form['NRM'].value = '@pasien.NRM';
				}
			}
        });



        customJSSetup_RiwayatAlergi();
    });

    const customJSSetup_RiwayatAlergi = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

