﻿<div id="view_RiwayatAlergi" class="modal fade">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Riwayat Alergi</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                @await Html.PartialAsync("~/Views/RiwayatAlergi/Index.cshtml", new ViewDataDictionary(ViewData))
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    let iview_RiwayatAlergi = {};
    document.addEventListener("DOMContentLoaded", function (event) {

        iview_RiwayatAlergi.id = '#view_RiwayatAlergi';

        iview_RiwayatAlergi.openModal = () => {
            const id = iview_RiwayatAlergi.id;

            $(id).css('z-index', 1030);
            $(id).modal({ backdrop: 'static' });
            $('.modal-backdrop.fade.show').last().css('z-index', $(id).css('z-index') - 1);
        }

    });

    const customJSiview_RiwayatAlergi = () => {
    };
</script>

@await Html.PartialAsync("~/Views/RiwayatAlergi/SetupRiwayatAlergi.cshtml", new ViewDataDictionary(ViewData))