﻿<div class="modal fade" id="table_CpptHistory">

    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h6 class="modal-title"><label class="itable-title-type"></label>Riwayat</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form class="itable-form">
                    @Html.AntiForgeryToken()
                    <input type="hidden" class="itable-pagesize" value="5" />
                    <input type="hidden" data-itable-filter="IdCppt" name="IdCppt" />
                    <input type="hidden" data-itable-filter="NRM" name="NRM" />
                    <input type="submit" class="d-none" />
                    <div class="form-group d-none" id="table_CpptHistory_divSemuaRiwayat">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" data-itable-filter="SemuaRiwayat" name="SemuaRiwayat" onchange="itable_CpptHistory.refresh()">
                                Semua Riwayat
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" data-itable-filter="HanyaDokter" name="HanyaDokter" onchange="itable_CpptHistory.refresh()">
                                Hanya Dokter
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" data-itable-filter="HanyaRJ" name="HanyaRJ" onchange="itable_CpptHistory.refresh()">
                                Hanya Rawat Jalan
                            </label>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped">
                        <thead>
                            <tr class="bg-indigo-400">
                                <th class="sorting_desc text-center" style="width: 100px" data-itable-sorting="0">Tanggal<br />Waktu</th>
                                <th class="text-center" style="width:130px">Profesional<br />Pemberi<br />Asuhan</th>
                                <th class="text-center">Hasil Asesmen Pasien & Pemberian Pelayanan</th>
                                <th class="text-center" style="width:15%">Instruksi PPA termasuk<br />Instruksi Pasca Bedah</th>
                                <th class="text-center" style="width:170px">Review & Verifikasi DPJP</th>
                                @*<th class="text-center" style="width: 30px;">Action</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    let itable_CpptHistory;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_CpptHistory = new iTable({
            id: 'table_CpptHistory',
            url: '@Url.Action("History_Cppt", "Cppt")',
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {

                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {

                        tbody += '<tr>';

                        // JS Columns
                        tbody += `
                                <td class="text-center align-top">
                                    <div>
                                        <p>${dateToString(v.tanggal, 'dd/MM/yyyy HH:mm')}</p>
                                        ${itable_Cppt.tipe == 'RiwayatKunjungan'? `<p>${v.sectionName}</p>`: ''}
                                    </div>
                                </td>`;
                        tbody += `
                                <td class="text-center align-top">
                                    <div class="text-center">
                                        <p>${v.profesiRole}</p>
                                        <p>${v.sectionName}</p>
                                        ${isetup_Cppt && itable_Cppt.tipe == 'RiwayatKunjungan'? `<a href="javascript:isetup_Cppt.sadurCppt(${v.id})" class="btn btn-default"><i class="icon-paste mr-1"></i></i>Sadur S-O</a>` : '' }
                                    </div>
                                </td>
                                `;
                        tbody += `
                                <td class="text-left align-top row">
                                    <div class="col-md">
                                        <dl class="row">
                                            <dt class="col-md-2 h4"><span class="badge badge-danger">S</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.subjective)}</dd>
                                            <dt class="col-md-2 h4"><span class="badge badge-success">O</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.objective)}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md">
                                        <dl class="row">
                                            <dt class="col-md-2 h4"><span class="badge badge-info">A</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.assesment)}</dd>
                                            <dt class="col-md-2 h4"><span class="badge badge-warning">P</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.planning)}</dd>
                                        </dl>
                                    </div>
                                </td>`;
                        tbody += `<td class="text-left align-top">
                                <p>${replaceLineBreak(v.instruksi)}</p>`;

                        if (v.id_mKondisiKeluar_Text) {
                            tbody += `
                                <p>
                                    Kondisi Keluar: <br/>
                                    ${v.id_mKondisiKeluar_Text}
                                </p>`;
                        }
                        if (v.id_mCaraKeluar_Text) {
                            tbody += `
                                <p>
                                    Cara Keluar: <br/>
                                    ${v.id_mCaraKeluar_Text}
                                </p>`
                        }
                        tbody += `</td>`;

                        tbody += `
                        <td class="text-left align-top">
                            <div>`
                        tbody += `
                                <div class="form-group">
                                    <p>Dibuat oleh: </p>
                                    <p>
                                        <b>${v.dibuatOleh}</b>
                                        <br/>(${dateToString(v.lastUpdate, 'dd-MM-yyyy HH:mm') ?? '-'})
                                    </p>
                                </div>`;
                        if (v.verifikasi) {
                            tbody += `
                                <div class="form-group">
                                    <label>Verifikasi:</label>
                                    <p>
                                        <b>Telah diverifikasi</b>
                                        <br/>(${dateToString(v.verifikasi_Tanggal, 'dd-MM-yyyy HH:mm') ?? '-'})
                                        <br/>Oleh <b>${v.dpjp_Text}</b>
                                    </p>
                                </div>`;
                        }
                        else {
                            tbody += `<p><b>Belum diverifikasi</b></p>`;
                        }
                        if (v.sudahKonfirmasi) {
                            tbody += `<p><b>Telah dikonfirmasi</b>`;
                            tbody += `<br/>(${dateToString(v.konfirmasi_Tanggal, 'dd-MM-yyyy HH:mm') ?? '-'})`;
                            tbody += `<br/>Oleh <b>${v.konfirmasi_Dpjp_Text}</b></p>`
                        } else {
                            if (v.butuhKonfirmasi) {
                                tbody += `
                                <p><b>Belum dikonfirmasi</b></p>`;
                            }
                        }

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_CpptHistory.show = idCppt => {

            const form = $(itable_CpptHistory.id).find('form')[0];

            itable_CpptHistory.url = '@Url.Action("History_Cppt", "Cppt")';
            itable_Cppt.tipe = 'Riwayat';

            form['IdCppt'].value = idCppt;
            form['NRM'].value = '';
            form['HanyaDokter'].checked = false;

            $(itable_CpptHistory.id).find('#table_CpptHistory_divSemuaRiwayat').addClass('d-none')

            itable_CpptHistory.openModal();

            itable_CpptHistory.refresh();
        }

        itable_Cppt.tipe = '';

        itable_CpptHistory.showRiwayatKunjungan = nrm => {

            const form = $(itable_CpptHistory.id).find('form')[0];

            itable_CpptHistory.url = '@Url.Action("RiwayatKunjungan_Cppt", "Cppt")';
            itable_Cppt.tipe = 'RiwayatKunjungan';

            form['NRM'].value = nrm;
            form['IdCppt'].value = '';
            form['HanyaDokter'].checked = true;

            $(itable_CpptHistory.id).find('#table_CpptHistory_divSemuaRiwayat').removeClass('d-none')

            itable_CpptHistory.openModal();

            itable_CpptHistory.refresh();
        }

        customJS_CpptHistory();
    });

    const customJS_CpptHistory = () => {
    };
</script>
