﻿@using System.Security.Claims
@{ 
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var dokter = ViewData["Dokter"] as EmrPuriBunda.Models.DokterModel;
}

<div id="table_Cppt">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="btn btn-sm" href="javascript:isetup_Cppt.new()"><i class="icon-plus22 mr-2"></i> Tambah CPPT</a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_Cppt.refresh()"></a>
            </div>
        </div>
    </div>

    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="10" />
        <input type="hidden" data-itable-filter="NRM" value="@pasien.NRM" />
        <div class="row col">
            <div class="col-md-6 form-group">
                <label for="Periode">Periode</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <input type="checkbox" onchange="itable_Cppt.onAllPeriode(this)" aria-label="All Periode" checked>
                    </div>
                    <input type="date" id="DariTanggal" data-itable-filter="DariTanggal" class="form-control all-periode-change" value="@pasien.Tanggal.ToString("yyyy-MM-dd")" />
                    <input type="date" id="SampaiTanggal" data-itable-filter="SampaiTanggal" class="form-control all-periode-change" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="col-md-3 form-group">
                <label for="table_Cppt_Profesi">Profesi</label>
                <input type="text" id="table_Cppt_Profesi" data-itable-filter="Profesi" placeholder="Profesi" class="form-control" value="" />
            </div>
            @if (dokter.DokterID == pasien.DokterID)
            {
                <div class="col-md-3 text-right">
                    <a href="javascript:itable_Cppt.verifikasiSemua()" class="btn btn-primary mt-4"><i class="icon-user-check mr-2"></i>Verifikasi Semua</a>
                </div>
            }
        </div>
        <input type="submit" class="d-none" />
    </form>
    <div class="table-responsive">
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-indigo-400">
                    <th class="sorting_desc text-center" style="width: 100px" data-itable-sorting="0">Tanggal<br />Waktu</th>
                    <th class="text-center" style="width:130px">Profesional<br />Pemberi<br />Asuhan</th>
                    <th class="text-center">Hasil Asesmen Pasien & Pemberian Pelayanan</th>
                    <th class="text-center" style="width:15%">Instruksi PPA termasuk<br />Instruksi Pasca Bedah</th>
                    <th class="text-center" style="width:170px">Review & Verifikasi DPJP</th>
                    @*<th class="text-center" style="width: 30px;">Action</th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    let itable_Cppt;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_Cppt = new iTable({
            id: 'table_Cppt',
            url: '@Url.Action("Datas_Cppt", "Cppt")',
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {

                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {

                        const allowEdit = itable_Cppt.userLogin == v.userId && v.sumberData == 'CPPT';
                        const allowKonfimasi = '@dokter.DokterID' == v.konfirmasi_Dpjp;
                        const allowVerifikasi = '@dokter.DokterID' == v.dpjp;

                        tbody += '<tr>';

                        // JS Columns
                        tbody += `
                                <td class="text-center align-top">

                                    <p>${dateToString(v.tanggal, 'dd/MM/yyyy')}<br/>${dateToString(v.tanggal, 'HH:mm')}</p>
                                    <p>Sumber Data: ${v.sumberData ? `<br/>${v.sumberData}` : ''}</p>
                                </td>`;
                        tbody += `
                                <td class="text-center align-top">
                                    <div class="text-center">
                                        <p>${v.profesiRole}</p>
                                        <p>${v.sectionName}</p>
                                        <a href="javascript:isetup_Cppt.sadurCppt(${v.id})" class="btn btn-default"><i class="icon-paste mr-1"></i></i>Sadur S-O</a>
                                    </div>
                                </td>
                                `;
                        tbody += `
                                <td class="text-left align-top row">
                                    <div class="col-md">
                                        <dl class="row">
                                            <dt class="col-md-2 h4"><span class="badge badge-danger">S</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.subjective)}</dd>
                                            <dt class="col-md-2 h4"><span class="badge badge-success">O</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.objective)}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md">
                                        <dl class="row">
                                            <dt class="col-md-2 h4"><span class="badge badge-info">A</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.assesment)}</dd>
                                            <dt class="col-md-2 h4"><span class="badge badge-warning">P</span></dt>
                                            <dd class="col-md-10 ">${replaceLineBreak(v.planning)}</dd>
                                        </dl>
                                    </div>
                                </td>`;
                        tbody += `<td class="text-left align-top">
                                <p>${replaceLineBreak(v.instruksi)}</p>`;

                        if (v.id_mKondisiKeluar_Text) {
                            tbody += `
                                <p>
                                    Kondisi Keluar: <br/>
                                    ${v.id_mKondisiKeluar_Text}
                                </p>`;
                        }
                        if (v.id_mCaraKeluar_Text) {
                            tbody += `
                                <p>
                                    Cara Keluar: <br/>
                                    ${v.id_mCaraKeluar_Text}
                                </p>`
                        }
                        tbody += `</td>`;

                        tbody += `
                        <td class="text-left align-top">
                            <div>`

                        if (allowEdit) {
                            tbody += `
                            <div class="mb-1">
                                <a href="javascript:isetup_Cppt.edit(${v.id})" class="btn btn-primary w-100"><i class="icon-pencil7 mr-1"></i>Edit</a>
                            </div>`;
                        }

                        if (v.adaPerubahan) {
                            tbody += `
                            <div class="form-group">
                                <a href="javascript:itable_CpptHistory.show(${v.id})" class="btn btn-danger w-100"><i class="icon-history mr-1"></i>Riwayat</a>
                            </div>`;
                        }

                        tbody += `
                                <div class="form-group">
                                    <p>Dibuat oleh: </p>
                                    <p>
                                        <b>${v.dibuatOleh}</b>
                                        <br/>(${dateToString(v.lastUpdate, 'dd-MM-yyyy  HH:mm') ?? '-'})
                                    </p>
                                </div>`;

                        tbody += `<div class="form-group">`;
                        if (v.sudahKonfirmasi) {
                            tbody += `<p><b>Telah dikonfirmasi</b>`;
                            tbody += `<br/>(${ dateToString(v.konfirmasi_Tanggal, 'dd-MM-yyyy HH:mm') ?? '-' })`;
                            tbody += `<br/>Oleh <b>${v.dpjp_Text}</b></p>`
                        } else {
                            if (allowKonfimasi && v.butuhKonfirmasi) {
                                tbody += `<label>Butuh Konfirmasi:</label>`;
                                tbody += `<a href="javascript:itable_Cppt.konfirmasi(${v.id})" class="btn btn-success w-100"><i class="icon-checkmark3 mr-2"></i>Konfirmasi</a>`;
                            } else if (v.butuhKonfirmasi){
                                tbody += `<p><b>Belum dikonfirmasi oleh ${v.konfirmasi_Dpjp_Text}</b></p>`
                            }
                        }
                        tbody += `</div>`;

                        tbody += `<div class="form-group">`;
                        if (v.verifikasi) {
                            tbody += `<p><b>Telah diverifikasi</b>`;
                            tbody += `<br/>(${dateToString(v.verifikasi_Tanggal, 'dd-MM-yyyy HH:mm') ?? '-'})`;
                            tbody += `<br/>Oleh <b>${v.dpjp_Text}</b></p>`
                        } else {
                            if (allowVerifikasi) {
                                tbody += `<label>Verifikasi:</label>`;
                                tbody += `<a href="javascript:itable_Cppt.verifikasi(${v.id})" class="btn btn-success w-100"><i class="icon-user-check mr-2"></i>Verifikasi</a>`;
                            }
                            else {
                                tbody += `<p><b>Belum diverifikasi oleh ${v.dpjp_Text}</b></p>`

                            }
                        }
                        tbody += `</div>`

                        tbody += `
                            </div>
                        </td>`;
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_Cppt.userLogin = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';

        itable_Cppt.verifikasi = id => {
            $.ajax({
                url: `@Url.Action("VerifikasiCppt", "Cppt")?id=${id}`,
                type: 'PUT',
                data: {},
                success: r => {
                    if (!r.success) {
                        alertError(r.message);
                    }
                    if (r.success) {
                        itable_Cppt.refresh();
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        itable_Cppt.verifikasiSemua = () => {

            showConfirmationDialog("Apakah anda yakin ingin meverifikasi semua CPPT?", () =>
            {
                $.ajax({
                url: `@Url.Action("VerifikasiSemuaCppt", "Cppt")?NoReg=@pasien.NoReg`,
                data: {},
                type: 'PUT',
                success: r => {
                    if (!r.success) {
                        alertError(r.message);
                    }
                    if (r.success) {
                        showAlert("Semua CPPT telah diverifikasi.", "success");
                        itable_Cppt.refresh();
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
            })
        }

        itable_Cppt.konfirmasi = id => {
            $.ajax({
                url: `@Url.Action("KonfirmasiCppt", "Cppt")?id=${id}`,
                type: 'PUT',
                data: {},
                success: r => {
                    if (!r.success) {
                        alertError(r.message);
                    }
                    if (r.success) {
                        itable_Cppt.refresh();
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        };

        itable_Cppt.onAllPeriode = (cb) => {

            let inputs = $(itable_Cppt.id).find(".all-periode-change");

            if (cb.checked === false) {
                inputs.val("");
                itable_Cppt.refresh();
            }

            inputs.prop("disabled", !cb.checked)
        }

        customJS_Cppt();
    });

    const customJS_Cppt = () => {

        itable_Cppt.refresh();
    };
</script>
