@{
    var dokter = ViewData["Dokter"] as EmrPuriBunda.Models.DokterModel;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var iconGender = pasien.JenisKelamin == "M" ? "fa fa-mars text-primary" : pasien.JenisKelamin == "F" ? "fa fa-venus text-danger" : "";
}

<div id="modal_OrderPenunjang" class="modal fade">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="card-title mb-0">[@pasien.NRM] - @pasien.NamaPasien <span class="ml-1 @iconGender"></span> - @(pasien.TglLahir?.ToString("dd/MM/yyyy") ?? "?") (@pasien.UmurTahun) - @pasien.JenisKerjasama
                </h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <h6 id="modal-title"></h6>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="input10">NoBukti</label>
                                <div class="input-group">
                                    <input type="text" id="autoid2" value="(Auto)" name="NoBukti" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                                </div>
                            </div>

                            <input type="hidden" name="NoReg" />                      

                        </div>

                        <input type="hidden" name="SectionID" id="modal_OrderPenunjang_Section"/>

                        <!--<div class="col-md-3">-->

                            @*<div class="open-reset form-group">
                                <label for="modal_OrderPenunjang_Section">Section</label>
                                <select placeholder="Section" required id="modal_OrderPenunjang_Section" name="SectionID" class="form-control text-left" data-datasource='@Url.Action("Select_Section", "OrderPenunjang")'></select>
                            </div>*@

                            @*<div class="form-group">
                                <label for="lookup1">Kode ICD</label>
                                <div class="input-group">
                                    <input data-model="lookup1.kodeICD" type="text" id="lookup1" name="KodeICD" class="form-control text-left" />
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_lookup1.openModal()"><i class="icon-search4"></i></button>
                                    </div>
                                </div>
                            </div>*@

                            @*<h6>Diisi oleh petugas</h6>

                            <div class="form-group">
                                <label for="input5">Diterima Tanggal</label>
                                <input type="date" id="input5" name="DiterimaTgl" class="form-control text-left" disabled />
                            </div>
                            <div class="form-group">
                                <label for="input6">Jam Sampling</label>
                                <input type="datetime-local" id="input6" name="JamSampling" class="form-control text-left" disabled />
                            </div>
                            <div class="form-group">
                                <label for="input7">Jam Billing</label>
                                <input type="datetime-local" id="input7" name="JamBilling" class="form-control text-left" disabled />
                            </div>
                            <div class="open-reset form-group">
                                <label for="select1">Petugas</label>
                                <select placeholder="Petugas" id="select1" name="KodePetugas" class="form-control text-left" disabled></select>
                            </div>*@
                        <!--</div>-->

                        <div class="col-md">

                            <input data-model="lookup2.dokterID" type="hidden" id="input11" name="DokterID" />

                            <div class="form-group">
                                <label for="lookup2">Dokter</label>
                                <div class="input-group">
                                    <input data-model="lookup2.namaDOkter" type="text" id="lookup2" name="NamaVendor" class="form-control text-left" disabled/>
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_lookup2.openModal()"><i class="icon-search4"></i></button>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label for="input2">Alamat</label>
                                <textarea data-model="lookup2.alamat" id="input2" name="AlamatVendor" class="form-control text-left"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="input4">Telepon</label>
                                <input data-model="lookup2.noKontak" type="text" id="input4" name="TlpVendor" class="form-control text-left" />
                            </div>*@

                        </div>

                    </div>

                    <div>
                        
                        <input data-model="lookup1.kodeICD" type="hidden" id="lookup1" name="KodeICD" class="form-control text-left" />

                        <div class="form-group">
                            <label for="input1">Indikasi Klinis</label>
                            <textarea data-model="lookup1.descriptions" id="input1" name="DiagnosaIndikasi" class="form-control text-left" required></textarea>
                            @*<div class="input-group">
                                <textarea data-model="lookup1.descriptions" id="input1" name="DiagnosaIndikasi" class="form-control text-left"></textarea>
                                <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_lookup1.openModal()"><i class="icon-search4"></i></button>
                            </div>*@
                        </div>

                        <div class="text-right col">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input id="input8" name="Hasil_Cito" type="checkbox" class="form-check-input">
                                    CITO
                                </label>
                            </div>
                            @*<div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input id="input9" name="Hasil_Rutin" type="checkbox" class="form-check-input">
                                    Rutin
                                </label>
                            </div>*@
                        </div>

                    </div>

                    <div class="form-group">
                        
                        <label>Manual Order</label>

						<div class="table-responsive">
							<table class="table table-bordered table-xs table-striped table-detail table-column" data-name="tb_orderPenunjangDetailManual">
								<thead>
									<tr class="bg-slate">
										<th class="table-button">
											<button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="isetup_OrderPenunjang.openLookUpJasa()">
												<i class="icon-plus22"></i>
											</button>
										</th>
										<th>Tindakan</th>
                                        <th style="width: 40px">Qty</th>
										<th>Keterangan</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>

                    
                    <div class="form-group">
                        <label for="setup_orderPenunjang_Jasa_Tambahan">Catatan Pemeriksaan</label>
                        <textarea id="setup_orderPenunjang_Jasa_Tambahan" name="PemeriksaanTambahan" class="form-control text-left" rows="3"></textarea>
                    </div>

                    <label>Check Order</label>

                    @(await Component.InvokeAsync<EmrPuriBunda.ViewComponents.OrderPenunjangViewComponent>())

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2"></i>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_OrderPenunjang;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_OrderPenunjang = new iSetup({
            id: 'modal_OrderPenunjang',
            url: '@Url.Action("OrderPenunjang", "OrderPenunjang")',
            param: e => ({
                    NoBukti: e.target['NoBukti'].value,
                    model: {
                        ...getModelFromForm(e.target, isetup_OrderPenunjang),
                        JasaList : isetup_OrderPenunjang.getSelectedJasa()
                    }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_OrderPenunjang.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {

                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    isetup_OrderPenunjang.setSelectedJasa(r.data.jasaList);

                    isetup_OrderPenunjang.setSectionId(r.data.sectionID, r.data.sectionName);

                    (r.data.tb_orderPenunjangDetailManual || []).forEach(x => {
                        isetup_OrderPenunjang.addTableValue_tb_orderPenunjangDetailManual({
                            JasaID: x.jasaID
                        }, x);
                    });
                }

            },
            modalOnReady: (e, t) => {
                const form = $(t.id).find('form')[0];

                form['NoReg'].value = '@ViewData["NoReg"]';

                if (t.type === 'POST') {
                    form['DokterID'].value = '@(dokter.DokterID)';
                    form['NamaVendor'].value = '@(dokter.NamaDOkter)';
                    form['NoBukti'].value = '(Auto)';
                    @*form['AlamatVendor'].value = '@(dokter.Alamat)';
                    form['TlpVendor'].value = '@(dokter.NoKontak)';*@
				}
			}
        });

        isetup_OrderPenunjang.idSetup_orderPenunjang_Jasa = '#setup_orderPenunjang_Jasa';

        isetup_OrderPenunjang.getSelectedJasa = () => {
            let selected = [];

            $(isetup_OrderPenunjang.idSetup_orderPenunjang_Jasa).find(':checkbox:checked').each(function () {
                const cb = $(this);

                var jasaObj = {
                    JasaID: cb.data('value'),
                    KelompokID : cb.data('kelompok'),
                }

                selected.push(jasaObj);
            });

            return selected;
        }

        isetup_OrderPenunjang.setSelectedJasa = (jasaList) => {

            const id = isetup_OrderPenunjang.idSetup_orderPenunjang_Jasa;

            $(id).find(':checkbox').prop("checked", false);

            jasaList.forEach(jasa => {
                $(id).find(`input[data-value = "${jasa.jasaID}"][data-kelompok = "${jasa.kelompokID}"]`).prop("checked", true);
            })
        }

        isetup_OrderPenunjang.addTableValue_tb_orderPenunjangDetailManual = (key, model) => {
			const tbl = $(isetup_OrderPenunjang.id).find(`.table-detail[data-name="tb_orderPenunjangDetailManual"]`);
			const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
			if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
				alertWarning('Data already exists');
				return;
			}
			let r = '';
			r += `
				<tr data-key='${skey}'>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
					<td class="d-none"><input type="text" data-name="JasaID"/></td>
					<td data-name="JasaName"></td>
                    <td class="table-input"><input class="form-control text-left readonly-only-type-post readonly-only-type-put" type="text" data-name="Qty" required/></td>
					<td class="d-none"><input type="text" data-name="Alias"/></td>
					<td class="table-input"><input class="form-control text-left readonly-only-type-post readonly-only-type-put" type="text" data-name="Keterangan"/></td>
				</tr>
			`;
			tbl.find('tbody').append(r);
			const tr = tbl.find('tbody').find('tr:last');
			initDetailTr(tr, model, 'table1', isetup_OrderPenunjang);
		};

        isetup_OrderPenunjang.openLookUpJasa = () => {

            const sectionId = isetup_OrderPenunjang.jSection().val();

            if (sectionId) {
                itable_tb_orderPenunjangDetailManual.setSectionId(sectionId);
                itable_tb_orderPenunjangDetailManual.openModal();
            } else {
                goToTop();
                showAlert('Section tidak boleh kosong.');
            }
        }

        isetup_OrderPenunjang.jSection = () => $(isetup_OrderPenunjang.id).find("#modal_OrderPenunjang_Section");

        isetup_OrderPenunjang.setSectionId = (sectionId, tipe) => {

            $(isetup_OrderPenunjang.id).find('#modal-title').text(`Order ${tipe}`)

            isetup_OrderPenunjang.jSection().val(sectionId);

            $(isetup_OrderPenunjang.id).find('.filter-section').each(function () {
                const div = $(this);

                if (div.data('section') === sectionId) {
                    div.removeClass('d-none');
                } else {
                    div.addClass('d-none');
                }

            });
        }

        customJSSetup_OrderPenunjang();
    });

    const customJSSetup_OrderPenunjang = () => {
        $(modal_OrderPenunjang.id).find("#select1").select2("readonly", true);
    };
</script>

@await Html.PartialAsync("~/Views/OrderPenunjang/LookUp_lookup1.cshtml", new ViewDataDictionary(ViewData))
@await Html.PartialAsync("~/Views/OrderPenunjang/LookUp_lookup2.cshtml", new ViewDataDictionary(ViewData))
@await Html.PartialAsync("~/Views/OrderPenunjang/LookUp_tb_orderPenunjangDetailManual.cshtml", new ViewDataDictionary(ViewData))
