<!-- CSS CUSTOM -->

<div id="modal_UserDokter" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>User Dokter</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group show-only-type-get">
						<label for="userDokter_input1">UserId</label>
						<input data-model="userDokter_lookup1.id" type="text" id="userDokter_input1" name="UserId" class="form-control text-left"/>
					</div>
					<div class="form-group">
						<label for="userDokter_lookup1">Username</label>
						<div class="input-group">
							<input required data-model="userDokter_lookup1.userName" type="text" id="userDokter_lookup1" name="UserName" class="form-control text-left readonly-only-type-post readonly-only-type-put"/>
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_userDokter_lookup1.openModal()"><i class="icon-search4"></i></button>
							</div>
						</div>
					</div>
					<div class="form-group show-only-type-get">
						<label for="userDokter_input2">DokterId</label>
						<input data-model="userDokter_lookup2.dokterID" type="text" id="userDokter_input2" name="DokterId" class="form-control text-left"/>
					</div>
					<div class="form-group">
						<label for="userDokter_lookup2">Dokter</label>
						<div class="input-group">
							<input required data-model="userDokter_lookup2.namaDOkter" type="text" id="userDokter_lookup2" name="Nama_Supplier" class="form-control text-left readonly-only-type-post readonly-only-type-put"/>
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="itable_userDokter_lookup2.openModal()"><i class="icon-search4"></i></button>
							</div>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_UserDokter;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_UserDokter = new iSetup({
            id: 'modal_UserDokter',
            url : '@Url.Action("UserDokter")',
            param: e => ({
                UserId: e.target['UserId'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_UserDokter),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_UserDokter.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);
                
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    
				}
			}
        });

        

        customJSSetup_UserDokter();
    });

    const customJSSetup_UserDokter = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="LookUp_userDokter_lookup1"/>
<partial name="LookUp_userDokter_lookup2"/>