<!-- CSS CUSTOM -->

<div id="modal_TandaTangan" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Tanda Tangan</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="DokterId">Dokter</label>
                        <select placeholder="Dokter" required id="DokterId" name="DokterId" class="open-reset form-control text-left" data-datasource='@Url.Action("Select_Profesi")'></select>
                    </div>
                    <div class="form-group">
                        <label for="TtdDokter">Tanda Tangan</label>
                        <input type="file" id="TtdDokter" accept="image/*" name="FileTtdDokter" class="form-control text-left" onchange="isetup_TandaTangan.readURL(this, 'img_ttd')"/>
                        <img id="img_ttd" alt="Tanda Tangan" class="img-thumbnail mt-2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_TandaTangan;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_TandaTangan = new iSetup({
            id: 'modal_TandaTangan',
            url : '@Url.Action("TandaTangan")',
            param: e => {
                var data = new FormData();

                data.append('DokterId', e.target['DokterId'].value,);

                const fileHasil = e.target['FileTtdDokter'].files[0];

                data.append(`FileTtd`, fileHasil)

                const m = getModelFromForm(e.target, isetup_TandaTangan);

                Object.keys(m).forEach(x => {
                    data.append(x, m[x]);
                });

                return data;

            },
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_TandaTangan.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

                if (r.data.ttdDokter) {
                    $('#img_ttd').attr('src', `data:image/png;base64,${r.data.ttdDokter}`);
                }

            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {

				}
			},
            otherAjax: {
                contentType: false,
                processData: false,
            }
        });

        isetup_TandaTangan.readURL = (input, img) => {
            if (input != null || input != "") {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#' + img + '').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

        customJSSetup_TandaTangan();
    });

    const customJSSetup_TandaTangan = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

