﻿@{
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.Pasien_PasienRegistrasiModel;
}

<!-- CSS CUSTOM -->

<div id="modal_dokumenRadiologi" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Hasil Radiologi</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <input type="hidden" name="NoBukti">

                    <div class="form-group">
                        <label class="h5" for="modal_dokumenRadiologi_pemeriksaan">Pemeriksaan</label>
                        <textarea id="modal_dokumenRadiologi_pemeriksaan" name="Pemeriksaan" class="form-control text-left" disabled></textarea>
                    </div>

                    <h5 class="mt-2">Hasil Baca</h5>
                    <div class="card">
                        <div id="modal_dokumenRadiologi_hasil_baca" class="card-body">

                        </div>
                    </div>

                    <div class="form-check text-right">
                        <input type="checkbox" class="form-check-input" id="modal_dokumenRadiologi_hasil_SudahDibaca" name="Dibaca">
                        <label class="form-check-label" for="modal_dokumenRadiologi_hasil_SudahDibaca">Sudah Dibaca</label>
                    </div>

                    <div class="form-group">
                        <label for="modal_dokumenRadiologi_hasil_Komentar">Komentar</label>
                        <textarea required id="modal_dokumenRadiologi_hasil_Komentar" name="Komentar" class="form-control text-left"></textarea>
                    </div>

                    <div class="form-group text-right">
                        <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                    </div>

                    <ul class="nav nav-tabs nav-tabs-highlight" id="modal_dokumenRadiologi_listDokumen">
                    </ul>

                    <div class="tab-content">
                        <div id="dokumenRadiologi_pdfContainer" class="tab-pane show active">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_DokumenRadiologi;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_DokumenRadiologi = new iSetup({
            id: 'modal_dokumenRadiologi',
            url : '@Url.Action("KomentarPenunjang", "InputHasilPenunjang")',
            param: e => ({
                NoBukti: e.target['NoBukti'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_DokumenRadiologi),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    //itable_StatusPsikologi.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

                let child = ''

                $.each(r.data.tablePathDokumen, (i, v) => {
                    const active = i == 0 ? 'active' : '';
                    
                    child += `<li class="nav-item"><a onclick="isetup_DokumenRadiologi.changeDokumen('${v.urlDokumen}');" href='javascript:void(0);' class="nav-link ${active}" data-toggle="tab">${v.fileName}</a></li>`;
                });

                $(isetup_DokumenRadiologi.id).find('#modal_dokumenRadiologi_listDokumen').html(child);

                const defaultKey = r.data.tablePathDokumen[0].urlDokumen;

                if (defaultKey) {
                    isetup_DokumenRadiologi.changeDokumen(defaultKey);
                }

                $(isetup_DokumenRadiologi.id).find('#modal_dokumenRadiologi_hasil_baca').html(r.data.hasilBaca);

            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {

				}
			}
        });

        customJSSetup_DokumenRadiologi();

        isetup_DokumenRadiologi.changeDokumen = (url) => {

            const container = $('#dokumenRadiologi_pdfContainer');
            container.html(`
                <object id="id_pdf" data=${url} type="application/pdf" width="100%" height="800px"></object>
            `);

        }
    });

    const customJSSetup_DokumenRadiologi = () => {

        $.ui.fancytree.debugLevel = 0;

    };
</script>