@{
    ViewData["Title"] = "Laporan Ketepatan Serah Terima";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_LaporanKetepatanSerahTerima">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Laporan Ketepatan Serah Terima</h5>
        <div class="header-elements">
            <div class="list-icons">
                <!--Modal Post-->
                <a class="list-icons-item" data-action="reload" href="javascript:itable_LaporanKetepatanSerahTerima.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form card-body">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row">
            <div class="col-md">				<div class="form-group">					<label for="Mulai">Mulai</label>					<input name="Mulai" type="date" onchange="itable_LaporanKetepatanSerahTerima.pageIndex = 0; itable_LaporanKetepatanSerahTerima.refresh();" data-itable-filter="Mulai" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />				</div>			</div>			<div class="col-md-3">				<div class="form-group">					<label for="Akhir">Akhir</label>					<input name="Akhir" type="date" onchange="itable_LaporanKetepatanSerahTerima.pageIndex = 0; itable_LaporanKetepatanSerahTerima.refresh();" data-itable-filter="Akhir" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />				</div>			</div>			<div class="col-md">				<div class="form-group">					<label for="GroupSection">Group Section</label>					<select name="GroupSection" onchange="itable_LaporanKetepatanSerahTerima.pageIndex = 0; itable_LaporanKetepatanSerahTerima.refresh()" id="GroupSection" data-itable-filter="GroupSection" placeholder="Group Section" class="form-control">						<option value="">ALL</option>						<option value="RI">RI</option>						<option value="RJ">RJ</option>						<option value="UGD">UGD</option>					</select>				</div>			</div>

            <div class="col-md-auto">
                <label style="visibility:hidden">Export</label>
                <div>
                    <button type="button" class="btn btn-success" onclick="itable_LaporanKetepatanSerahTerima.exportToExcel()">Export Ke Excel</button>
                </div>
            </div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div class="datatable-scroll">
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" data-itable-sorting="0">NoReg</th>					<th class="sorting text-left" data-itable-sorting="1">NRM</th>					<th class="sorting text-left" data-itable-sorting="2">Section</th>					<th class="sorting text-left" data-itable-sorting="3">Nama Dokter</th>					<th class="sorting text-center" data-itable-sorting="4">Jumlah Hand</th>					<th class="sorting text-center" data-itable-sorting="5">Jumlah Over</th>					<th class="sorting text-center" data-itable-sorting="6">%</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_LaporanKetepatanSerahTerima;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_LaporanKetepatanSerahTerima= new iTable({
            id: 'table_LaporanKetepatanSerahTerima',
            url: '@Url.Action("Datas_LaporanKetepatanSerahTerima", "LaporanKetepatanSerahTerima")',
            urlType:{
                DELETE : '@Url.Action("LaporanKetepatanSerahTerima")'
            },
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.noReg}</td>`;						tbody += `<td class="text-left">${v.nrm}</td>`;						tbody += `<td class="text-left">${v.sectionName}</td>`;						tbody += `<td class="text-left">${v.namaDOkter}</td>`;						tbody += `<td class="text-center">${v.jumlahHand}</td>`;						tbody += `<td class="text-center">${v.jumlahOver}</td>`;						tbody += `<td class="text-center">${v.presentase}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action						
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_LaporanKetepatanSerahTerima.refresh();

        itable_LaporanKetepatanSerahTerima.exportToExcel = () => {
            const form = $(itable_LaporanKetepatanSerahTerima.id).find('form')[0]

            console.log(form);

            const url = `@Url.Action("ReportExcel")?dariTanggal=${form["Mulai"].value}&sampaiTanggal=${form['Akhir'].value}&groupSection=${form['GroupSection'].value}`;

            window.open(url, "_blank");
        }

        customJS_LaporanKelengkapanPengisianAssesmenAwalMedis();
    });

    const customJS_LaporanKelengkapanPengisianAssesmenAwalMedis = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<!--partial-->