﻿@{ 
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.Pasien_PasienRegistrasiModel;
}
<div class="row card-body">
    <div class="col-md-3">
        <div class="card" >
            <div id="tree" class="card-body">
                @*<ul id="treeData" style="display: none;">
                    <li id="2" class="folder">
                        00.00.01
                        <ul>
                            <li class="folder">
                                20201918REG-000001
                                <ul>
                                    <li>file-1.pdf
                                </ul>
                            <li class="folder">
                                20201918REG-000002
                                <ul>
                                    <li>file-1.pdf
                                </ul>
                        </ul>
                </ul>*@
            </div>
        </div>
    </div>
    <div class="col-md-9" id="edokumen_pdfContainer">
        
    </div>
</div>

<script>

    let iview_eDokumen;

    document.addEventListener("DOMContentLoaded", function (event) {

        iview_eDokumen = {

            changeDokumen: (url) => {
                const container = $('#edokumen_pdfContainer');
                container.html(`
                    <object id="id_pdf" data=${url} type="application/pdf" width="100%" height="800px"></object>
                `);
            }
        };

        $.ui.fancytree.debugLevel = 0;

        $("#tree").fancytree({
            source: {
                url: '@Url.Action("DokumenPasien", "EDokumen", new { nrm = pasien.NRM })',
                cache: false
            },
            click: (event, data) => {

                console.log(data);
                const node = data.node;
                    // Only for click and dblclick events:
                    // 'title' | 'prefix' | 'expander' | 'checkbox' | 'icon'
                //const targetType = data.targetType;

                if (!node.children) {
                    const key = node.key;

                    iview_eDokumen.changeDokumen(key);
                }

                // we could return false to prevent default handling, i.e. generating
                // activate, expand, or select events
            },
        });
    });
</script>