﻿@{ ViewData["Title"] = "Input Hasil Penunjang";
                ViewData["Breadcrumb"] = new List<SelectListItem>()
        {
        new SelectListItem((string)ViewData["Title"], "active")
    }; }

<div class="card">

    <div class="card-header header-elements-inline">
        <h6 class="card-title">Input Hasil Penunjang</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form>
            <div class="form-group">
			    <label class="col-lg-2 col-form-label font-weight-semibold">Hasil scan dokumen</label>
				<input type="file" class="file-input" accept="application/pdf" multiple="multiple" />
				<span class="form-text text-muted">Hanya dapat mengunggah <code>.pdf</code></span>
		    </div>
        </form>
    </div>

</div>