<div id="modalLookup_lookupPasien" class="modal fade">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title">Pasien</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="itable-form">
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <div class="row col">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="modalLookup_lookupPasien_Filter">Filter</label>
                                <input type="text" id="modalLookup_lookupPasien_Filter" data-itable-filter="Filter" placeholder="NRM atau Nama Pasien" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="d-none" />
                </form>
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped table-lookup-single">
                        <thead>
                            <tr class="bg-slate">
                                <th class="sorting text-left" data-itable-sorting="0">NRM</th>
                                <th class="sorting text-left" data-itable-sorting="1">Nama Pasien</th>
                                <th class="text-center">Tgl Lahir</th>
                                <th class="text-left">Alamat</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let itable_lookupPasien;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_lookupPasien = new iTable({
            id: 'modalLookup_lookupPasien',
            url: '@Url.Action("LookUp_lookupPasien")',
            orderBy: 0,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    const jtbody = $(t.id).find('tbody');
                    if (r.datas.length === 0) jtbody.html(t.trempty());
                    else jtbody.html('');
                    $.each(r.datas, (i, v) => {
                        let tbody = '<tr>';

                        // JS Columns                        const icon = v.jenisKelamin == "M" ? "fa-mars text-primary" : v.jenisKelamin == "F" ? "fa-venus text-danger" : "";

                        tbody += `<td class="text-left">${v.nrm}</td>`;
                        tbody += `<td class="text-left"><span class='mr-1 fa ${icon}'></span>${v.namaPasien}</td>`;
                        tbody += `<td class="text-center">${dateToString(v.tglLahir, 'dd/MM/yyyy') ?? '-'}</td>`;
                        tbody += `<td class="text-left">${v.alamat}</td>`;
                        // ----- JS Columns

                        tbody += '</tr>';
                        jtbody.append(tbody);
                        jtbody.find('tr:last').data('model', v);
                    });
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            },
            lookupSelected: v => {
                isetup_HasilBacaPenunjang.models['lookupPasien'] = v[0];
                console.log(v[0]);
                triggerModels(isetup_HasilBacaPenunjang, 'lookupPasien');

                const model = v[0];

                const icon = model.jenisKelamin == "M" ? "fa-mars text-primary" : model.jenisKelamin == "F" ? "fa-venus text-danger" : "";

                const spanJenisKelamin = `<span class="fa ${icon}"></span>`;
                const divJenisKelamin = $(isetup_HasilBacaPenunjang.id).find('#InputHasilPenunjang_jenisKelamin');

                divJenisKelamin.empty();
                divJenisKelamin.html(spanJenisKelamin);

                if (model.tglLahir) {
                    $(isetup_HasilBacaPenunjang.id).find('#InputHasilPenunjang_tanggalLahir').val(dateToString(model.tglLahir, 'yyyy-MM-dd'));
                }
            }
        });

        itable_lookupPasien.onFilterTanggal = cb => {
            let input = $(itable_lookupPasien.id).find("#modalLookup_lookupPasien_Tanggal");

            if (cb.checked === false) {
                input.val("");
                itable_lookupPasien.refresh();
            }

            input.prop("disabled", !cb.checked)
        }
    });
</script>