<!-- CSS CUSTOM -->

<div id="modal_PenolongPersalinan" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>PenolongPersalinan</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
						<label for="Id">Id</label>
						<input type="text" id="Id" name="Id" class="form-control text-left readonly-only-type-post readonly-only-type-put"/>
					</div>
					<div class="form-group">
						<label for="PenolongPersalinan">Penolong Persalinan</label>
						<input required type="text" id="PenolongPersalinan" name="PenolongPersalinan" class="form-control text-left"/>
					</div>
					<div class="form-group">
						<div class="form-check">
							<label class="form-check-label">
								<input id="Aktif" name="Aktif" type="checkbox" class="form-check-input">
								Aktif
							</label>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_PenolongPersalinan;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_PenolongPersalinan = new iSetup({
            id: 'modal_PenolongPersalinan',
            url : '@Url.Action("PenolongPersalinan")',
            param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_PenolongPersalinan),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_PenolongPersalinan.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);
                
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    form['Id'].value = '(Auto)';
					form['Aktif'].value = 'true';
				}
			}
        });

        

        customJSSetup_PenolongPersalinan();
    });

    const customJSSetup_PenolongPersalinan = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

