<!-- CSS CUSTOM -->

<div id="modal_RegistrasiPasien" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>RegistrasiPasien</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
						<div class="col">
							<div class="form-group">
								<label for="input1">NoReg</label>
								<input type="text" id="input1" name="NoReg" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input3">Tanggal</label>
								<input type="text" id="input3" name="Tanggal" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input5">NRM</label>
								<input type="text" id="input5" name="NRM" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input7">Nama Pasien</label>
								<input type="text" id="input7" name="NamaPasien" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input9">Jenis Kelamin</label>
								<input type="text" id="input9" name="JenisKelamin" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input11">Section</label>
								<input type="text" id="input11" name="SectionName" class="form-control text-left"/>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="input2">Dokter</label>
								<input type="text" id="input2" name="NamaDOkter" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input4">Jenis Kerjasama</label>
								<input type="text" id="input4" name="JenisKerjasama" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input6">Nama Customer</label>
								<input type="text" id="input6" name="Nama_Customer" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input8">NoKartu</label>
								<input type="text" id="input8" name="NoKartu" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<label for="input10">Sudah Periksa</label>
								<input type="text" id="input10" name="SudahPeriksa" class="form-control text-left"/>
							</div>
							<div class="form-group">
								<div class="form-check">
									<label class="form-check-label">
										<input id="input12" name="Batal" type="checkbox" class="form-check-input">
										Batal
									</label>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_RegistrasiPasien;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_RegistrasiPasien = new iSetup({
            id: 'modal_RegistrasiPasien',
            url : '@Url.Action("ActionRegistrasiPasien")',
            param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_RegistrasiPasien),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_RegistrasiPasien.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);
                
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    
				}
			}
        });

        

        customJSSetup_RegistrasiPasien();
    });

    const customJSSetup_RegistrasiPasien = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

