@{
    ViewData["Title"] = "Template Asesmen";
    ViewData["Breadcrumb"] = new List<SelectListItem>()
    {
        new SelectListItem((string)ViewData["Title"], "active")
    };
}

<!-- CSS CUSTOM -->

<div class="card" id="table_TemplateAsesmen">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Template Asesmen</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="plus" href="javascript:isetup_TemplateAsesmen.openModal('POST')"></a>
                <a class="list-icons-item" data-action="reload" href="javascript:itable_TemplateAsesmen.refresh()"></a>
            </div>
        </div>
    </div>
    <form class="itable-form">
        @Html.AntiForgeryToken()
        <input type="hidden" class="itable-pagesize" value="20" />
        <div class="row col">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Filter">Filter</label>
                    <input type="text" id="Filter" data-itable-filter="Filter" placeholder="Kode atau Judul" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Filter_Jenis">Jenis</label>
                    <select placeholder="Jenis" id="Filter_Jenis" data-itable-filter="Jenis" class="open-reset form-control text-left" data-datasource='@Url.Action("Select_JenisTemplateAsesmen")'></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Filter_Dokter">Dokter</label>
                    <select placeholder="Dokter" id="Filter_Dokter" data-itable-filter="Dokter" class="open-reset form-control text-left" data-datasource='@Url.Action("mDokter")'></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Filter_Section">Section</label>
                    <select placeholder="Section" id="Filter_Section" data-itable-filter="Section" class="open-reset form-control text-left" data-datasource='@Url.Action("Section")'></select>
                </div>
            </div>
        </div>
        <input type="submit" class="d-none"/>
    </form>
    <div>
        <table class="table table-hover dataTable table-xs table-striped">
            <thead>
                <tr class="bg-slate">
                    <th class="sorting text-left" data-itable-sorting="0">Kode</th>					<th class="sorting text-left" data-itable-sorting="1">Judul</th>					<th class="sorting text-left" data-itable-sorting="2">Temp Data</th>					@*<th class="sorting text-left" data-itable-sorting="3">Spesialisasi</th>*@					<th class="sorting text-left" data-itable-sorting="4">Jenis</th>					<th class="sorting text-left" data-itable-sorting="5">Dokter</th>					<th class="sorting text-left" data-itable-sorting="6">Section</th>					<th class="text-center" style="width: 30px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_TemplateAsesmen;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_TemplateAsesmen = new iTable({
            id: 'table_TemplateAsesmen',
            url: '@Url.Action("Datas_TemplateAsesmen", "TemplateAsesmen")',
            urlType:{
                DELETE : '@Url.Action("TemplateAsesmen")'
            },
            orderBy: 0,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, v) => {
                        tbody += '<tr>';

                        // JS Columns						tbody += `<td class="text-left">${v.kode ?? '-'}</td>`;						tbody += `<td class="text-left">${v.judul ?? '-'}</td>`;						tbody += `<td class="text-left">${v.tempData ?? '-'}</td>`;						/*tbody += `<td class="text-left">${v.spesialisasiID_Text ?? '-'}</td>`;*/						tbody += `<td class="text-left">${v.jenisID_Text ?? '-'}</td>`;						tbody += `<td class="text-left">${v.dokterID_Text ?? '-'}</td>`;						tbody += `<td class="text-left">${v.sectionID_Text ?? '-'}</td>`;
                        // ----- JS Columns

                        tbody += '<td class="text-center">';
                        tbody += '<div class="list-icons">';
                        tbody += '<div class="dropdown">';
                        tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<div class="dropdown-menu dropdown-menu-right">';

                        // JS Action						tbody += `<a class="dropdown-item" href="javascript:isetup_TemplateAsesmen.openModal('GET',{ Id : '${v.id}'  })"><i class="icon-eye"></i> Details</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:isetup_TemplateAsesmen.openModal('PUT',{ Id : '${v.id}' })"><i class="icon-pencil"></i> Edit</a></li>`;
                        tbody += `<a class="dropdown-item" href="javascript:itable_TemplateAsesmen.delete({ Id : '${v.id}' }, itable_TemplateAsesmen)"><i class="icon-trash"></i> Delete</a></li>`;
                        // ----- JS Columns

                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</div>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

        itable_TemplateAsesmen.refresh();

        customJS_TemplateAsesmen();
    });

    const customJS_TemplateAsesmen = () => {
        $.each(
            $(itable_TemplateAsesmen.id).find("select[data-datasource]"), (i, v) => {
            mahasSelect2($(v), $(v).data('datasource'));
        });
    };
</script>

<partial name="SetupTemplateAsesmen"/>