<!-- CSS CUSTOM -->

<div id="modal_TemplateAsesmen" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Template Asesmen</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="Id">Id</label>
                            <input required type="text" id="Id" name="Id" class="form-control text-left readonly-only-type-post readonly-only-type-put" />
                        </div>
                        <div class="col-md">
                            <label for="Kode">Kode</label>
                            <input required type="text" id="Kode" name="Kode" class="form-control text-left" />
                        </div>
                        <div class="col-md-auto">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="Aktif" name="Active" type="checkbox" class="form-check-input">
                                    Aktif
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md">
                            <label for="Judul">Judul</label>
                            <input required type="text" id="Judul" name="Judul" class="form-control text-left" />
                        </div>
                        @*<div class="col-md">
                            <label for="select1">Spesialisasi</label>
                            <select placeholder="Spesialisasi" id="select1" name="SpesialisasiID" class="open-reset form-control text-left" data-datasource='@Url.Action("mSpesialisasi")'></select>
                        </div>*@
                        <div class="col-md">
                            <div class="form-group">
                                <label for="Section">Section</label>
                                <select placeholder="Section" id="Section" name="SectionID" class="open-reset form-control text-left" data-datasource='@Url.Action("Section")'></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="Dokter">Dokter</label>
                                <select placeholder="Dokter" id="Dokter" name="DokterID" class="open-reset form-control text-left" data-datasource='@Url.Action("mDokter")'></select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="Role">Role</label>
                                <select placeholder="Role" id="Role" name="Id_AspNetRoles" class="open-reset form-control text-left" data-datasource='@Url.Action("Select_Roles")'></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Data">Data</label>
                        <textarea required id="Data" name="TempData" class="form-control text-left"></textarea>
                    </div>

                    <div class="form-group table-responsive">
                        <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="TableJenis">
                            <thead>
                                <tr class="bg-slate">
                                    <th class="table-button">
                                        <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itable_TableJenis.openModal()">
                                            <i class="icon-plus22"></i>
                                        </button>
                                    </th>
                                    <th>Jenis Template Asesmen</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_TemplateAsesmen;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_TemplateAsesmen = new iSetup({
            id: 'modal_TemplateAsesmen',
            url : '@Url.Action("TemplateAsesmen")',
            param: e => ({
                Id: e.target['Id'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_TemplateAsesmen),
                    
                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    itable_TemplateAsesmen.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                
                setFormFromModel(form, r.data, t);

                (r.data.tableJenis || []).forEach(x => {
                    isetup_TemplateAsesmen.addTableValue_TableJenis({
                        Id_mJenisTemplateAsesmen: x.id_mJenisTemplateAsesmen,                        JenisTemplateAsesmen: x.id_mJenisTemplateAsesmen
                    }, x);
                });
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    form['Id'].value = '(Auto)';
					form['Active'].checked = true;
				}
			}
        });

        isetup_TemplateAsesmen.addTableValue_TableJenis = (key, model) => {
            const tbl = $(isetup_TemplateAsesmen.id).find(`.table-detail[data-name="TableJenis"]`);
            const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
            if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
                alertWarning('Data already exists');
                return;
            }
            let r = '';
            r += `
				<tr data-key='${skey}'>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
					<td class="d-none"><input type="text" data-name="Id_mJenisTemplateAsesmen"/></td>
					<td data-name="JenisTemplateAsesmen"></td>
				</tr>
			`;
            tbl.find('tbody').append(r);
            const tr = tbl.find('tbody').find('tr:last');
            initDetailTr(tr, model, 'table1', isetup_TemplateAsesmen);
        };


        customJSSetup_TemplateAsesmen();
    });

    const customJSSetup_TemplateAsesmen = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>

<partial name="LookUp_TableJenis" />