@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="col-md-6 offset-3">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <i class="icon-user icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                <h5 class="mb-0">Manage your Account</h5>
            </div>
            <div class="form-group text-center text-muted content-divider">
                <span class="px-2">Your Account Data</span>
            </div>
            <div class="align-items-center">
                <div class="cke_panel">

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-8">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
