@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="change-password-form" method="post">
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" asp-for="Input.OldPassword" class="form-control" placeholder="Old Password">
                <div class="form-control-feedback">
                    <i class="icon-user-lock text-muted"></i>
                </div>
                <span asp-validation-for="Input.OldPassword" class="form-text text-danger"></span>
            </div>
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" asp-for="Input.NewPassword" class="form-control" placeholder="New Password">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
                <span asp-validation-for="Input.NewPassword" class="form-text text-danger"></span>
            </div>
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <div class="form-control-feedback">
                    <i class="icon-check text-muted"></i>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="form-text text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}