@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="text" asp-for="Username" class="form-control">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
                <span asp-validation-for="Username" class="form-text text-danger"></span>
            </div>
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="tel" asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number">
                <div class="form-control-feedback">
                    <i class="icon-phone text-muted"></i>
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="form-text text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}