@using System.Security.Claims
@{
    var pengisianEMR = ViewData["PengisianEMR"] as EmrPuriBunda.Models.Pasien_PengisianEMR;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var now = DateTime.Now;
    var max = now.Date.AddDays(1).AddSeconds(-1);
}

<!-- CSS CUSTOM -->
<div id="setup_AsesmenDokterUGD">
    <form autocomplete="off">
        @Html.AntiForgeryToken()

        <div class="text-right">
            <button type="button" onclick="isetup_AsesmenDokterUGD.sadurTriage()" class="btn btn-sm bg-success">
                <i class="icon-paste mr-2"></i>
                Sadur Triage Perawat
            </button>
            <button type="button" onclick="isetup_AsesmenDokterUGD.loadIntegrasiPengkajianPerawat()" class="btn btn-light btn-sm">
                <i class="icon-sync mr-2"></i>
                Refresh
            </button>
        </div>

        <div class="row">
            <p class="text-dark h3 text-left col-md">Triage</p>
            <div class="col-md"></div>
            <h6 class="col-md mt-2">Primary Survey</h6>
        </div>

        <input type="hidden" name="NoReg" />
        <input type="hidden" name="NRM" />
        <input type="checkbox" name="SimpanSementara" class="d-none" />

        <div class="row">

            @*Kedatangan*@

            <div class="col-md">
                <div class="form-group">
                    <label for="setup_AsesmenDokterUGD_inputJenisKunjungan" class="">Jenis Kunjungan</label>
                    <select placeholder="Jenis Kunjungan" id="setup_AsesmenDokterUGD_inputJenisKunjungan" name="Id_mJenisKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_JenisKunjungan", "AsesmenDokterUGD")'></select>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenDokterUGD_WaktuDatang" class="">Waktu Datang</label>
                    <input type="datetime-local" id="setup_AsesmenDokterUGD_WaktuDatang" name="WaktuDatang" class="form-control text-left" value="@pasien.Jam.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenDokterUGD_WaktuPelayanan" class="">Waktu Pelayanan</label>
                    <input type="datetime-local" id="setup_AsesmenDokterUGD_WaktuPelayanan" name="WaktuPelayanan" class="form-control text-left" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@max.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>

                <div class="form-group">
                    <button type="button" onclick="isetup_AsesmenDokterUGD.simpanSementara()" class="btn bg-pink btn-lg show-only-type-post mr-2"><i class="icon-floppy-disk mr-2"></i>Simpan Sementara</button>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_Rujukan" class="">Rujukan</label>
                        <select placeholder="Rujukan" id="setup_AsesmenDokterUGD_Rujukan" name="Id_mRujukan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Rujukan", "AsesmenDokterUGD")'></select>
                    </div>
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_input1" class="">Keterangan</label>
                        <input type="text" id="setup_AsesmenDokterUGD_input1" name="RujukanCatatan" class="form-control text-left" placeholder="" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="setup_AsesmenDokterUGD_CaraDatang" class="">Cara Datang</label>
                    <select placeholder="CaraDatang" id="setup_AsesmenDokterUGD_CaraDatang" name="Id_mCaraDatang" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_CaraDatang", "AsesmenDokterUGD")'></select>
                </div>

                <div class="form-group">
                    <label for="setup_AsesmenDokterUGD_select1">Alasan kunjungan</label>
                    <select placeholder="Alasan kunjungan" id="setup_AsesmenDokterUGD_select1" name="Id_mAlasanKunjungan" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_AlasanKunjungan", "AsesmenDokterUGD")'></select>
                </div>
            </div>

            @*Mekanisme Trauma*@

            <div class="col-md">
                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_KriteriaTriage" class="">Kriteria Triage</label>
                        <select placeholder="Kriteria Triage" id="setup_AsesmenDokterUGD_KriteriaTriage" name="Id_mTriage" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Triage", "AsesmenDokterUGD")'></select>
                    </div>
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_input1" class="">Keterangan</label>
                        <input type="text" id="setup_AsesmenDokterUGD_inputTK" name="Triage_Keterangan" class="form-control text-left" placeholder="" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_KeadaanSaatDatang" class="">Keadaan Saat Datang</label>
                        <select placeholder="Keadaan Saat Datang" id="setup_AsesmenDokterUGD_KeadaanSaatDatang" name="Id_mKeadaanSaatDatang" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_KeadaanSaatDatang", "AsesmenDokterUGD")'></select>
                    </div>
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_KeadaanSaatDatangKeterangan" class="">Keterangan</label>
                        <input type="text" id="setup_AsesmenDokterUGD_KeadaanSaatDatangKeterangan" name="KeadaanSaatDatangKeterangan" class="form-control text-left" placeholder="" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="setup_AsesmenDokterUGD_Hamil">
                            <input id="setup_AsesmenDokterUGD_Hamil" class="form-check-input" type="checkbox" name="Hamil">
                            Hamil
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="setup_AsesmenDokterUGD_DOA">
                            <input id="setup_AsesmenDokterUGD_DOA" class="form-check-input" type="checkbox" name="DOA">
                            DOA
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="setup_AsesmenDokterUGD_Trauma">
                            <input id="setup_AsesmenDokterUGD_Trauma" class="form-check-input" type="checkbox" name="Trauma" >
                            Trauma
                        </label>
                    </div>
                </div>

                <div class="form-group mb-2" id="setup_AsesmenDokterUGD_divLokasiMekanismeTruma">
                    <label for="setup_AsesmenDokterUGD_LokasiMekanismeTruma">Lokasi Mekanisme Truma</label>
                    <textarea id="setup_AsesmenDokterUGD_LokasiMekanismeTruma" name="LokasiMekanisneTrauma" class="form-control text-left" rows="3"></textarea>
                </div>
            </div>
        </div>

        @*Subjektif*@
        <div class="row mt-2">

            <div class="col-md">

                <div class="row">
                    <p class="text-dark h3 text-left col-md-3">Subjektif</p>
                    <div class="col-md text-right">
                        <button type="button" onclick="isetup_AsesmenDokterUGD.sadurAnamnesis()" class="btn btn-sm bg-success">
                            <i class="icon-paste mr-2"></i>
                            Sadur Anamnesis & Pemeriksaan
                        </button>
                        <button type="button" onclick="isetup_AsesmenDokterUGD.loadIntegrasiPengkajianPerawat()" class="btn btn-light btn-sm">
                            <i class="icon-sync"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterUGD_input6" class="col-md-4 mt-2">Anamnesis</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterUGD_input6" data-template-jenis="8"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterUGD_input6" name="Anamnesis" class="form-control text-left" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterUGD_select2" class="col-md-auto">Hubungan dengan pasien</label>
                        <div class="text-right col-md">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input id="setup_AsesmenDokterUGD_input4" name="Autoanamnesis" type="checkbox" class="form-check-input">
                                    Autoanamnesis
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input id="setup_AsesmenDokterUGD_input5" name="Alloanamnesis" type="checkbox" class="form-check-input">
                                    Alloanamnesis
                                </label>
                            </div>
                        </div>
                    </div>
                    <select placeholder="Hubungan dengan pasien" id="setup_AsesmenDokterUGD_select2" name="Id_mHubunganPasien" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_HubunganPasien", "AsesmenDokterUGD")'></select>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header pb-1">
                            <h6 class="card-title">
                                <a href="#setupAsesmenDokter_Card_Riwayat" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Riwayat</a>
                            </h6>
                        </div>

                        <div id="setupAsesmenDokter_Card_Riwayat" class="collapse card-body">
                            <div class="form-group">
                                <label for="setup_AsesmenDokterUGD_RiwayatAlergi">Riwayat Alergi</label>
                                <textarea id="setup_AsesmenDokterUGD_RiwayatAlergi" name="RiwayatAlergi" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenDokterUGD_RiwayatPenyakitDahulu">Riwayat Penyakit Dahulu</label>
                                <textarea id="setup_AsesmenDokterUGD_RiwayatPenyakitDahulu" name="RiwayatPenyakitDahulu" class="form-control text-left" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="setup_AsesmenDokterUGD_RiwayatPengobatan">Riwayat Pengobatan</label>
                                <textarea id="setup_AsesmenDokterUGD_RiwayatPengobatan" name="RiwayatPengobatan" class="form-control text-left" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Riwayat*@

            <div class="col-md">

                <p class="text-dark h3 text-left">Integrasi Pengkajian Perawat</p>

                <div class="form-group row">
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_PerawatSO">Subjektif & Objektif</label>
                        <div style="height: 280px;" class="card overflow-auto">
                            <div class="card-body" id="setup_AsesmenDokterUGD_SubjektifObjektif">

                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <label for="setup_AsesmenDokterUGD_PerawatDaftarMasalah">Daftar masalah & rekomendasi</label>
                        <div style="height: 280px;" class="card overflow-auto">
                            <div class="card-body" id="setup_AsesmenDokterUGD_PerawatDaftarMasalah">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        @*Objektif*@

        <div class="row">

            <div class="col-md">
                <div class="">
                    <p class="text-dark h3 text-left">Objektif</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterUGD_PemeriksaanFisik" class="col-md-4 mt-2">Pemeriksaan Fisik</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterUGD_PemeriksaanFisik" data-template-jenis="10"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterUGD_PemeriksaanFisik" name="PemeriksaanFisik" class="form-control text-left" rows="5"></textarea>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a href="#setupAsesmenDokter_Card_BodyDiagram" class="text-dark text-left" data-toggle="collapse" aria-expanded="true">Body Diagram</a>
                            </h6>
                        </div>

                        <div id="setupAsesmenDokter_Card_BodyDiagram" class="collapse card-body">
                            <div class="form-group text-center">
                                <img crossorigin="anonymous" class="ipainter" name="BodyDiagramView" data-src="@Url.Content("images/Paparan.png")" width="300" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterUGD_PemeriksaanPenunjang" class="col-md-4 mt-2">Pemeriksaan Penunjang</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterUGD_PemeriksaanPenunjang" data-template-jenis="12"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterUGD_PemeriksaanPenunjang" name="PemeriksaanPenunjang" class="form-control text-left" rows="5"></textarea>
                </div>
            </div>

            <div class="col-md">
                <div class="">
                    <p class="text-dark h3 text-left">Asesmen</p>
                </div>

                <div class="form-group">
                    <label for="setup_AsesmenDokterUGD_DiagnosaUtamaKeterangan">Diagnosa</label>
                    <textarea id="setup_AsesmenDokterUGD_DiagnosaUtamaKeterangan" name="DiagnosaUtamaKeterangan" class="form-control text-left"></textarea>
                </div>

                <div class="">
                    <div class="form-group table-responsive">
                        <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="table1">
                            <thead>
                                <tr class="bg-slate">
                                    <th class="table-button">
                                        <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="itable_table1.openModal()">
                                            <i class="icon-plus22"></i>
                                        </button>
                                    </th>
                                    <th class="d-none"></th>
                                    <th style="width: 75px;">Kode</th>
                                    <th>Diagnosa</th>
                                    <th>Jenis</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md">

                <div class="form-group">
                    <div class="row">
                        <label for="setup_AsesmenDokterUGD_input2" class="text-dark h4 col-md-4">Planning</label>
                        <div class="col-md text-right mb-1">
                            <select class="form-control text-left select-template-asesmen" data-template-target="#setup_AsesmenDokterUGD_input2" data-template-jenis="13"></select>
                        </div>
                    </div>
                    <textarea id="setup_AsesmenDokterUGD_input2" name="Planning" class="form-control text-left" rows="8"></textarea>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header card-header-sm">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenDokterUGD_Card_Instruksi" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="true">Instruksi</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenDokterUGD_Card_Instruksi" class="collapse card-body">
                            <textarea id="setup_AsesmenDokterUGD_input3" name="Instruksi" class="form-control text-left" rows="9"></textarea>
                        </div>

                    </div>
                </div>

                <div class="card-group-control card-group-control-right">
                    <div class="col card border-top-indigo">
                        <div class="card-header card-header-sm">
                            <h6 class="card-title">
                                <a href="#setup_AsesmenDokterUGD_Card_Tbk" class="text-dark text-left collapsed" data-toggle="collapse" aria-expanded="true">TBK</a>
                            </h6>
                        </div>

                        <div id="setup_AsesmenDokterUGD_Card_Tbk" class="collapse card-body">

                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input id="setup_AsesmenDokterUGD_Tulis" name="Tulis" type="checkbox" class="form-check-input">
                                    <label class="form-check-label mt-1" for="setup_AsesmenDokterUGD_Tulis">Tulis</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="setup_AsesmenDokterUGD_Baca" name="Baca" type="checkbox" class="form-check-input">
                                    <label class="form-check-label mt-1" for="setup_AsesmenDokterUGD_Baca">Baca</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="setup_AsesmenDokterUGD_Konfirmasi" name="ButuhKonfirmasi" type="checkbox" class="form-check-input">
                                    <label class="form-check-label mt-1" for="setup_AsesmenDokterUGD_Konfirmasi">Konfirmasi</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="select1">DPJP</label>
                                <select placeholder="Dpjp" id="setup_AsesmenDokterUGD_select1" name="Konfirmasi_Dpjp" class="form-control text-left" data-datasource='@Url.Action("Vw_Select_Dokter", "Cppt")'></select>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">

            <div class="col-md">

            </div>

            <div class="col-md text-right">

                <div class="form-check form-check-inline">
                    <input id="setup_AsesmenDokterUGD_IsiDenganBenar" name="IsiDenganBenar" type="checkbox" class="form-check-input" checked>
                    <label class="form-check-label mt-1" for="setup_AsesmenDokterUGD_IsiDenganBenar">
                        Saya telah mengisi asesmen dengan benar
                    </label>
                </div>

                <button type="button" onclick="isetup_AsesmenDokterUGD.edit()" class="btn btn-lg bg-warning show-only-type-get mr-2 user-validation">Edit</button>

                <button type="button" onclick="isetup_AsesmenDokterUGD.simpan()" class="btn bg-primary btn-lg show-only-type-post show-only-type-put user-validation"><i class="icon-floppy-disk mr-2"></i>Simpan</button>

            </div>

        </div>

    </form>
</div>

<script>
    let isetup_AsesmenDokterUGD;

    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_AsesmenDokterUGD = new iSetup({
            id: 'setup_AsesmenDokterUGD',
            url: '@Url.Action("ActionAsesmenDokterUGD", "AsesmenDokterUGD")',
            param: e => ({
                NoReg: e.target['NoReg'].value,
                model: getModelFromForm(e.target, isetup_AsesmenDokterUGD)
            }),
            success: (r, t) => {
                if (r.success) {

                    showAlert("Data berhasil disimpan.", "success");

                    isetup_AsesmenDokterUGD.load();
                }
            },
            modalDataOnSuccess: (r, t) => { },
            stateDataOnSuccess: (r, t) => {
                if (r.success) {
                    const form = $(t.id).find('form')[0];

                    setFormFromModel(form, r.data, t);

                    (r.data.table1 || []).forEach(x => {
                        isetup_AsesmenDokterUGD.addTableValue_table1({
                            KodeICD: x.kodeICD
                        }, x);
                    });

                    if (r.data.simpanSementara) {
                        isetupEditNonAjax(t);
                    }

                    if (r.data.userId != '@userId') {
                        $(isetup_AsesmenDokterUGD.id).find('.user-validation').addClass('d-none');
                    } else {
                        $(isetup_AsesmenDokterUGD.id).find('.user-validation').removeClass('d-none');
                    }

                    isetup_AsesmenDokterUGD.initModel();
                }
            },
            modalOnReady: (e, t) => {
            }
        });

        isetup_AsesmenDokterUGD.edit = () => {
            isetup_AsesmenDokterUGD.openState('PUT', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenDokterUGD.load = () => {
            isetup_AsesmenDokterUGD.openState('GET', {
                NoReg: '@pasien.NoReg'
            })
        };

        isetup_AsesmenDokterUGD.new = () => {
            isetup_AsesmenDokterUGD.openState('POST', {});

            const form = $(isetup_AsesmenDokterUGD.id).find('form')[0];
            form['NoReg'].value = '@ViewData["NoReg"]';
            form['NRM'].value = '@pasien.NRM';

            isetup_AsesmenDokterUGD.initModel();
        }

        isetup_AsesmenDokterUGD.loadIntegrasiPengkajianPerawat = (model) => {

            $.ajax({
                url: `@Url.Action("ActionAsesmenPerawatUGD", "AsesmenPerawatUGD", new { NoReg = pasien.NoReg })`,
                type: 'GET',
                success: r => {
                    if (!r.success) {
                        if (r.message == 'Data tidak ditemukan') return;
                        alertError(r.message);
                    }
                    if (r.success) {
                        const model = r.data;

                        isetup_AsesmenDokterUGD.asesmenPerawatModel = model;

                        $(isetup_AsesmenDokterUGD.id).find('#setup_AsesmenDokterUGD_SubjektifObjektif').html(
                            `
                            <h5 class="mb-0"><b>Anamnesis</b></h5>
                            <p>${replaceLineBreak(model.anamnesis ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Alergi:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatAlergi ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Penyakit Dahulu:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatPenyakitDahulu ?? '-')}</p>

                            <p class="mb-0"><b><i>Riwayat Pengobatan:</i></b></p>
                            <p>${replaceLineBreak(model.riwayatPengobatan ?? '-')}</p>

                            <h5 class="mb-0"><b>Pemeriksaan Fisik Perawat</b></h5>
                            <p>${replaceLineBreak(model.objektif_PemeriksaanFisik ?? '-')}</p>
                            `
                        );

                        $(isetup_AsesmenDokterUGD.id).find('#setup_AsesmenDokterUGD_PerawatDaftarMasalah').html(
                            `
                            <h5 class="mb-0"><b>Diagnosis Keperawatan</b></h5>
                            <p>${replaceLineBreak(model.asesmen_MasalahKeperawatan ?? '-')}</p>

                            <h5 class="mb-0"><b>Rekomendasi</b></h5>

                            <p class="mb-0"><b><i>Planning:</i></b></p
                            <p>${replaceLineBreak(model.planning ?? '-')}</p>

                            <p class="mb-0"><b><i>Instruksi:</i></b></p>
                            <p>${replaceLineBreak(model.instruksi ?? '-')}</p>
                             `
                        );
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        isetup_AsesmenDokterUGD.sadurAnamnesis = () => {

            if (isetup_AsesmenDokterUGD.type == 'GET') return;

            const model = isetup_AsesmenDokterUGD.asesmenPerawatModel;
            const form = $(isetup_AsesmenDokterUGD.id).find('form')[0];

            form['Anamnesis'].value = model.anamnesis;
            form['RiwayatAlergi'].value = model.riwayatAlergi;
            form['RiwayatPenyakitDahulu'].value = model.riwayatPenyakitDahulu;
            form['RiwayatPengobatan'].value = model.riwayatPengobatan;
            form['PemeriksaanFisik'].value = model.objektif_PemeriksaanFisik;

        }

        isetup_AsesmenDokterUGD.sadurTriage = () => {

            if (isetup_AsesmenDokterUGD.type == 'GET') return;

            const model = isetup_AsesmenDokterUGD.asesmenPerawatModel;

            if (!model) return;

            const form = $(isetup_AsesmenDokterUGD.id).find('form')[0];

            const jSetup = $(isetup_AsesmenDokterUGD.id);

            jSetup.find('#setup_AsesmenDokterUGD_inputJenisKunjungan').setSelect2Value(model.id_mJenisKunjungan, model.id_mJenisKunjungan_Text);
            jSetup.find('#setup_AsesmenDokterUGD_Rujukan').setSelect2Value(model.id_mRujukan, model.id_mRujukan_Text);
            jSetup.find('#setup_AsesmenDokterUGD_CaraDatang').setSelect2Value(model.id_mCaraDatang, model.id_mCaraDatang_Text);
            jSetup.find('#setup_AsesmenDokterUGD_select1').setSelect2Value(model.id_mAlasanKunjungan, model.id_mAlasanKunjungan_Text);
            jSetup.find('#setup_AsesmenDokterUGD_KriteriaTriage').setSelect2Value(model.id_mTriage, model.id_mTriage_Text);
            jSetup.find('#setup_AsesmenDokterUGD_KeadaanSaatDatang').setSelect2Value(model.id_mKeadaanSaatDatang, model.id_mKeadaanSaatDatang_Text);

            form['WaktuDatang'].value = model.waktuDatang;
            form['RujukanCatatan'].value = model.rujukan_Keterangan;
            form['Triage_Keterangan'].value = model.triage_Keterangan;
            form['KeadaanSaatDatangKeterangan'].value = model.keadaanSaatDatangKeterangan;
            form['Hamil'].checked = model.hamil;
            form['DOA'].checked = model.doa;
            form['Trauma'].checked = model.trauma;
            form['LokasiMekanisneTrauma'].value = model.lokasiMekanisneTrauma;

        }

        isetup_AsesmenDokterUGD.addTableValue_table1 = (key, model) => {
            const tbl = $(isetup_AsesmenDokterUGD.id).find(`.table-detail[data-name="table1"]`);
            const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
            if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
                alertWarning('Data already exists');
                return;
            }
            let r = '';
            r += `
				<tr data-key='${skey}'>
                    <td class="d-none"><input type='hidden' data-name='NoUrut'/></td>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
                    <td class="table-button">
                        <button type="button" class="disabled-only-type-get btn btn-info" onclick="isetup_AsesmenDokterUGD.detailFilterSwap(this)"><i class="icon-loop4"></i></button>
                    </td>
					<td class="table-input d-none"><input class="form-control text-left" type="text" data-name="KodeICD" readonly/></td>
					<td data-name="KodeICD_Text"></td>
                    <td data-jenis="Jenis" class="text-center">Jenis</td>
				</tr>
			`;
            tbl.find('tbody').append(r);
            const tr = tbl.find('tbody').find('tr:last');
            initDetailTr(tr, model, 'table1', isetup_AsesmenDokterUGD);

            isetup_AsesmenDokterUGD.setDiagnosaUtama();
        };

        isetup_AsesmenDokterUGD.detailFilterSwap = t => {
            const next = $(t).closest('tr').next();
            if (next.length) {
                next.after($(t).closest('tr'));
            }

            isetup_AsesmenDokterUGD.setDiagnosaUtama();
        };

        isetup_AsesmenDokterUGD.setDiagnosaUtama = () => {
            $(isetup_AsesmenDokterUGD.id).find(`.table-detail[data-name="table1"]`).find('tbody tr').find('td:last').html('<a href="#" class="badge badge-secondary">Sekunder</a>')
            $(isetup_AsesmenDokterUGD.id).find(`.table-detail[data-name="table1"]`).find('tbody tr:first td:last').html('<span class="badge badge-primary">Utama</span>');
        }

        isetup_AsesmenDokterUGD.simpanSementara = () => {
            const form = $(isetup_AsesmenDokterUGD.id).find('form')[0];

            form['SimpanSementara'].checked = true;

            $(form).submit();
        }

        isetup_AsesmenDokterUGD.simpan = () => {
            const form = $(isetup_AsesmenDokterUGD.id).find('form')[0];

            form['SimpanSementara'].checked = false;

            $(form).submit();
        }

        isetup_AsesmenDokterUGD.isModified = () => {
            const setup = isetup_AsesmenDokterUGD;
            const model = getModelFromForm($(setup.id).find('form')[0], setup);

            setup.newModel = model;

            return objectIsEqual(model, setup.model) === false;
        }

        isetup_AsesmenDokterUGD.initModel = () => {
            const setup = isetup_AsesmenDokterUGD;

            setup.model = getModelFromForm($(setup.id).find('form')[0], setup);

            return setup.model;
        }

        document.addEventListener('RiwayatAlergiLoaded', function (e) {
            const setup = isetup_AsesmenDokterUGD;
            if (setup.type == 'POST') {
                const form = $(setup.id).find('form')[0];
                form['RiwayatAlergi'].value = iView_Pasien.RiwayatAlergi;
                setup.initModel();
            }
        }, false);

        customJSSetup_AsesmenDokterUGD();
    });

    const customJSSetup_AsesmenDokterUGD = () => {

        @if(pengisianEMR.AsesmenDokter == true)
        {
            @:isetup_AsesmenDokterUGD.load();
        }
        else
        {
            @:isetup_AsesmenDokterUGD.new();
        }

        @if(pengisianEMR.AsesmenPerawat == true)
        {
            @:isetup_AsesmenDokterUGD.loadIntegrasiPengkajianPerawat();
        }
    };
</script>

@await Html.PartialAsync("~/Views/AsesmenDokterUGD/LookUp_lookupDiagnosa.cshtml")
@await Html.PartialAsync("~/Views/AsesmenDokterUGD/LookUp_table1.cshtml")
