﻿@{
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.Pasien_PasienRegistrasiModel;
}

<!-- CSS CUSTOM -->

<div id="modal_dokumenLab" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-slate">
                <h6 class="modal-title"><label class="itable-title-type"></label>Hasil Lab</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <input type="hidden" name="NoBukti">

                    <div class="row">

                        <div class="col-md">

                            <dl class="row">

                                <dt class="col-md-3">No. Input</dt>
                                <dd id="modal_dokumenLab_NoLab" class="col-md-9"></dd>

                                <dt class="col-md-3">Dokter Pengirim</dt>
                                <dd id="modal_dokumenLab_DokterPengirim" class="col-md-9"></dd>

                                <dt class="col-md-3">Nama Pemeriksaan</dt>
                                <dd id="modal_dokumenLab_Pemeriksaan" class="col-md-9"></dd>

                                <dt class="col-md-3">Waktu Pemeriksaan</dt>
                                <dd id="modal_dokumenLab_WaktuPemeriksaan" class="col-md-9"></dd>

                                <dt class="col-md-3">Hasil Baca</dt>
                                <dd id="modal_dokumenLab_HasilBaca" class="col-md-9"></dd>
                            </dl>

                        </div>

                        <div class="col-md">

                            <div class="form-group">
                                <label for="modal_dokumenLab_hasil_Komentar">Komentar</label>
                                <textarea required id="modal_dokumenLab_hasil_Komentar" name="Komentar" class="form-control text-left"></textarea>
                            </div>

                            <div class="form-check text-right">
                                <input type="checkbox" class="form-check-input" id="modal_dokumenLab_hasil_SudahDibaca" name="Dibaca">
                                <label class="form-check-label" for="modal_dokumenLab_hasil_SudahDibaca">Sudah Dibaca</label>
                            </div>
                        </div>

                    </div>


                    <div class="form-group text-right">
                        <button type="submit" class="btn bg-primary show-only-type-post show-only-type-put">Save</button>
                    </div>

                    <ul class="nav nav-tabs nav-tabs-highlight" id="modal_dokumenLab_listDokumen">
                    </ul>

                    <div class="tab-content">
                        <div id="dokumenLab_pdfContainer" class="tab-pane show active">

                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_DokumenLab;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_DokumenLab = new iSetup({
            id: 'modal_dokumenLab',
            url : '@Url.Action("KomentarPenunjang", "InputHasilPenunjang")',
            param: e => ({
                NoBukti: e.target['NoBukti'].value,
                model: {
                    ...getModelFromForm(e.target, isetup_DokumenLab),

                }
            }),
            success: (r, t) => {
                if (r.success) {
                    $(t.id).modal('hide');
                    //itable_StatusPsikologi.refresh();
                }
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

                let child = ''

                $.each(r.data.tablePathDokumen, (i, v) => {
                    const active = i == 0 ? 'active' : '';
                    child += `<li class="nav-item"><a href="javascript:void(0);" onclick="isetup_DokumenLab.changeDokumen('${v.urlDokumen}')" data-key="${v.urlDokumen}" class="nav-link ${active}" data-toggle="tab">${v.fileName}</a></li>`;
                });

                $(isetup_DokumenLab.id).find('#modal_dokumenLab_listDokumen').html(child);

                const defaultKey = r.data.tablePathDokumen[0] ? r.data.tablePathDokumen[0].urlDokumen : '';

                if (defaultKey) {
                    isetup_DokumenLab.changeDokumen(defaultKey);
                }

                $(isetup_DokumenLab.id).find('#modal_dokumenLab_NoLab').html(r.data.noBukti);
                $(isetup_DokumenLab.id).find('#modal_dokumenLab_DokterPengirim').html(r.data.dokterID_Text);
                $(isetup_DokumenLab.id).find('#modal_dokumenLab_Pemeriksaan').html(r.data.pemeriksaan);
                $(isetup_DokumenLab.id).find('#modal_dokumenLab_WaktuPemeriksaan').html(dateToString(r.data.tanggalPeriksa, "dd-MM-yyyy HH:mm"));
                $(isetup_DokumenLab.id).find('#modal_dokumenLab_HasilBaca').html(r.data.hasilBaca);

            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {

				}
			}
        });

        customJSSetup_DokumenLab();

        isetup_DokumenLab.changeDokumen = (url) => {

            const container = $('#dokumenLab_pdfContainer');
            container.html(`
                <object id="id_pdf" data=${url} type="application/pdf" width="100%" height="800px"></object>
            `);

        }
    });

    const customJSSetup_DokumenLab = () => {

        $.ui.fancytree.debugLevel = 0;

    };
</script>

