<div class="card-body">

    @await Html.PartialAsync("~/Views/Resep/SetupResep.cshtml", new ViewDataDictionary(ViewData))

    <div id="table_Resep">
        <div class="card-header header-elements-inline pt-2">
            <h5 class="card-title"></h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="btn btn-sm" href="javascript:isetup_Resep.new('RACIK')"><i class="icon-plus22 mr-2"></i> Racik</a>
                    <a class="btn btn-sm" href="javascript:isetup_Resep.new('RESEP')"><i class="icon-plus22 mr-2"></i> Non Racik</a>
                    <a class="list-icons-item" data-action="reload" href="javascript:itable_Resep.refresh()"></a>
                </div>
            </div>
        </div>
        <form class="itable-form">
            @Html.AntiForgeryToken()
            <input type="hidden" class="itable-pagesize" value="100000" />
            <input type="hidden" data-itable-filter="NoReg" value="@ViewData["NoReg"]" />
            <input type="submit" class="d-none" />
        </form>

        <div id="table_Resep_Content">

            @*<div class="card border-left-2 border-left-indigo-400">

                    <div class="card-header header-elements-sm-inline">
                        <h6 class="card-title"></h6>
                        <div class="header-elements">
                            <a href="#" class="btn btn-sm bg-pink-400"><i class="icon-pencil7"></i></a>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="row m-1">
                            <div class="row col-md">
                                <dl class="row">
                                    <dt class="col-md-3">No Resep</dt>
                                    <dd class="col-md-9 ">${v.noResep}</dd>

                                    <dt class="col-md-3">Tanggal</dt>
                                    <dd class="col-md-9 ">${dateToString(v.tanggal, 'dd/MM/yyyy HH:mm')}</dd>

                                    <dt class="col-md-3">Farmasi</dt>
                                    <dd class="col-md-9 ">${v.sectionFarmasi}</dd>
                                </dl>
                            </div>
                            <div class="row col-md">
                                <dl class="row">
                                    <dt class="col-md-3">Dokter</dt>
                                    <dd class="col-md-9 ">${v.namaDokter}</dd>

                                    <dt class="col-md-3">Paket</dt>
                                    <dd class="col-md-9 ">${v.namaPaket}</dd>

                                    <dt class="col-md-3">CITO</dt>
                                    <dd class="col-md-9 "><input type="checkbox" ${v.cyto === true ? 'checked' : ''} onclick="return false;" /></dd>
                                </dl>
                            </div>
                        </div>

                        <div class="card mt-2">

                            <div class="card-header">

                                <h5 class="card-title">Obat Puyer</h5>

                            </div>

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md">
                                        <dl class="row">
                                            <dt class="col-md-3">Jumlah</dt>
                                            <dd class="col-md-9 ">${v.qtyPuyer} <span class="badge bg-success-400">${v.SatuanPuyer}</span></dd>
                                        </dl>
                                    </div>
                                    <div class="col-md">
                                        <dl class="row">
                                            <dt class="col-md-3">Keterangan</dt>
                                            <dd class="col-md-9 ">${v.keterangan}</dd>
                                        </dl>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover dataTable table-xs table-striped">
                                <thead>
                                    <tr>
                                        <th>Deskripsi</th>
                                        <th>Sat</th>
                                        <th>Aturan Pakai</th>
                                        <th>Aturan Pakai 2</th>
                                        <th>Qty</th>
                                        <th>Stok</th>
                                        <th>Ket Dosis</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>*@
        </div>
    </div>
</div>
<!--Custom HTML-->

<script>
    let itable_Resep;
    document.addEventListener("DOMContentLoaded", function (event) {

        itable_Resep = new iTable({
            id: 'table_Resep',
            url: '@Url.Action("Datas_Resep", "Resep")',
            urlType:{
                DELETE : '@Url.Action("Resep", "Resep")'
            },
            orderBy: 1,
            orderByType: false,
            success: (r, t) => {
                if (r.success) {
                    let tbody = '';
                    if (r.datas.length === 0) tbody += `<div class='text-center m-2'>----- <b>Tidak ada data</b> -----</div>`;
                    $.each(r.datas, (i, v) => {
                        tbody += `<div class="card border-left-2 border-left-indigo-400">`;
                        tbody += `
                            <div class="card-header header-elements-sm-inline">
                                <h6 class="card-title"></h6>
                                <div class="header-elements">
                                    ${v.realisasi === true ? `<h3><span class="badge badge-info">Realisasi</span></h3>` : v.sedangProses === true ? `<h3><span class="badge badge-primary">Sedang Diproses</span></h3>` : ``}
                                    ${v.batal === true ? `<h3><span class="badge badge-danger">Batal</span></h3>` : ``}
                                    <a href="javascript:isetup_Resep.newRepetisi('${v.noResep}');" class="btn btn-sm btn-success mr-2" title="Repetisi" data-toggle="tooltip" data-placement="top"><i class="icon-paste"></i></a>
                                    ${v.realisasi !== true && v.batal !== true && v.sedangProses !== true ? `<a href="javascript:itable_Resep.delete({ NoResep : '${v.noResep}'}, itable_Resep);" class="btn btn-sm btn-danger mr-2" title="Hapus" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></a>` : ``}
                                    ${v.realisasi !== true && v.batal !== true && v.sedangProses !== true ? `<a href="javascript:itable_Resep.showEdit('${v.noResep}');" class="btn btn-sm btn-primary" title="Edit" data-toggle="tooltip" data-placement="top"><i class="icon-pencil7"></i></a>` : ``}
                                </div>
                            </div>`;

                        tbody += `<div class="card-body">`;

                        tbody += `<div class="row m-1">`;
                        tbody += `    <div class="col-md">`;
                        tbody += `        <dl class="row">`;
                        //tbody += `            <dt class="col-md-3">No Resep</dt>`;
                        //tbody += `            <dd class="col-md-9 ">${v.noResep}</dd>`;
                        tbody += `            <dt class="col-md-3">Tanggal</dt>`;
                        tbody += `            <dd class="col-md-9 ">${dateToString(v.tanggal, 'dd/MM/yyyy')} ${dateToString(v.jam, 'HH:mm')}</dd>`;
                        tbody += `            <dt class="col-md-3">Farmasi</dt>`;
                        tbody += `            <dd class="col-md-9 ">${v.sectionFarmasi}</dd>`;
                        tbody += `             <dt class="col-md-3">Berat Badan</dt>`;
                        tbody += `             <dd class="col-md-9 ">${v.beratBadan ?? '-'} kg</dd>`;
                        tbody += `        </dl>`;
                        tbody += `    </div>`;
                        tbody += `    <div class="col-md">`;
                        tbody += `        <dl class="row">`;
                        tbody += `            <dt class="col-md-3">Dokter</dt>`;
                        tbody += `            <dd class="col-md-9 ">${v.namaDokter}</dd>`;
                        //tbody += `            <dt class="col-md-3">Paket</dt>`;
                        //tbody += `            <dd class="col-md-9 ">${v.namaPaket ?? '-'}</dd>`;
                        tbody += `            <dt class="col-md-3">CITO</dt>`;
                        tbody += `            <dd class="col-md-9 "><input type="checkbox" ${v.cyto === true ? 'checked' : ''} onclick="return false;" /></dd>`;
                        tbody += `        </dl>`;
                        tbody += `    </div>`;
                        tbody += `</div>`;

                        //Puyer
                        if (v.puyer) {
                            tbody += `<div class="card mt-2">
                                        <div class="card-header">
                                            <h6 class="card-title">Obat Racik</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md">
                                                    <dl class="row">
                                                        <dt class="col-md-3">Jumlah</dt>
                                                        <dd class="col-md-9 ">${v.qtyPuyer} <span class="badge bg-success-400">${v.satuanPuyer}</span></dd>
                                                    </dl>
                                                    <dl class="row">
                                                        <dt class="col-md-3">Aturan 1</dt>
                                                        <dd class="col-md-9 ">${v.headerAturan1}</dd>
                                                    </dl>
                                                </div>
                                                <div class="col-md">
                                                    <dl class="row">
                                                        <dt class="col-md-3">Keterangan</dt>
                                                        <dd class="col-md-9 ">${v.keterangan}</dd>
                                                    </dl>
                                                    <dl class="row">
                                                        <dt class="col-md-3">Aturan 2</dt>
                                                        <dd class="col-md-9 ">${v.headerAturan2}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                        }

                        tbody += `<div class="table-responsive mt-2">`;
                        tbody += `<table class="table table-hover dataTable table-xs table-striped">`;
                        tbody += `<thead>`;
                        tbody += `  <tr>`;
                        tbody += `      <th>Nama Obat</th>`;

                        if (v.puyer) {
                            tbody += `      <th class="text-center">Ket Dosis</th>`;
                            tbody += `      <th class="text-center">Qty</th>`;
                        } else {
                            tbody += `      <th>Sat</th>`;
                            tbody += `      <th>Aturan Pakai</th>`;
                            tbody += `      <th>Aturan Pakai 2</th>`;
                            tbody += `      <th>Qty</th>`;
                            tbody += `      <th>Ket Dosis</th>`;
                        }

                        tbody += `  </tr>`;
                        tbody += `</thead>`;
                        tbody += `<tbody>`;

                        if (v.resepDetail.length === 0) tbody = t.trempty();

                        $.each(v.resepDetail, (index, detail) => {
                            tbody += `<tr>`;
                            tbody += `<td>${detail.nama_Barang}</td>`;

                            if (v.puyer) {
                                tbody += `<td class='text-center'>${detail.ketDosis ?? ''}</td>`;
                                tbody += `<td class='text-center'>${detail.qty}</td>`;
                            } else {
                                tbody += `<td>${detail.satuan}</td>`;
                                tbody += `<td>${detail.dosis ?? ''}</td>`;
                                tbody += `<td>${detail.dosis2 ?? ''}</td>`;
                                tbody += `<td class='text-center'>${detail.qty}</td>`;
                                tbody += `<td>${detail.ketDosis ?? ''}</td>`;
                            }
                            
                            tbody += `</tr>`;
                        });

                        tbody += `</tbody></table></div>`;

                        tbody += `</div></div></div>`;
                    });
                    $(t.id).find('#table_Resep_Content').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);

                    $('[data-toggle="tooltip"]').tooltip();
                }
            }
        });

        itable_Resep.showEdit = noResep => {
            isetup_Resep.edit(noResep);
        }

        itable_Resep.refresh();

        customJS_Resep();
    });

    const customJS_Resep = () => {
        // JS Custom
        // ----- JS Columns
    };
</script>