@{
    var dokter = ViewData["Dokter"] as EmrPuriBunda.Models.DokterModel;
    var pasien = ViewData["Pasien"] as EmrPuriBunda.Models.RegistrasiPasien_DataReg;
}

<div id="modal_setup_Resep" class="card d-none">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Input Resep </h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" href="javascript:isetup_Resep.toggleInputResep(false);"><i class="icon-cross3"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form autocomplete="off">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="autoid1">No Resep</label>
                        <input required type="text" id="modal_setup_Resep_NoResep" name="NoResep" class="form-control text-left" disabled value="(Auto)"/>
                    </div>

                    <input type="hidden" name="NoRegistrasi" value="@ViewData["NoReg"]"/>

                    <div class="form-group">
                        <label for="modal_setupResep_input1">Tanggal</label>
                        <input required type="datetime-local" id="modal_setup_Resep_input1" name="Tanggal" class="form-control text-left" />
                    </div>
                    <div class="open-reset form-group">
                        <label for="modal_setupResep_sectionFarmasi">Farmasi</label>
                        <select placeholder="Farmasi" id="modal_setupResep_sectionFarmasi" name="Farmasi_SectionID" class="form-control text-left" data-datasource='@Url.Action("EMR_Select_SectionFarmasi", "Resep")'></select>
                    </div>
                </div>

                <div class="col-md">
                    <div class="open-reset form-group">
                        <label for="modal_setup_Resep_Dokter">Dokter</label>
                        <select placeholder="Dokter" id="modal_setup_Resep_Dokter" name="DokterID" class="form-control text-left" data-datasource='@Url.Action("EMR_Select_Dokter", "Resep")'></select>
                    </div>
                    <div class="form-group d-none">
                        <label for="modal_setupResep_input2">Kode Paket</label>
                        <input data-model="setup_Resep_lookup1.kodePaket" type="text" id="modal_setup_Resep_input2" class="form-control text-left" disabled />
                    </div>
                    <div class="form-group">
                        <label for="setup_Resep_lookup1">Paket</label>
                        <div class="input-group">
                            <input data-model="setup_Resep_lookup1.namaPaket" type="text" id="setup_Resep_lookup1" name="NamaPaket" class="form-control text-left" />
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary disabled-only-type-get" type="button" onclick="isetup_Resep.openLookUpPaketObat()"><i class="icon-search4"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="modal_setupResep_input_bb">Berat Badan</label>
                                <div class="input-group">
                                    <input type="number" id="modal_setupResep_input_bb" name="BeratBadan" value="@pasien.BeratBadan" class="form-control text-left" step="0.1"/>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">KG</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md m-auto">
                            <div class="form-group">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" name="Cyto" type="checkbox" id="modal_setupResep_Cito">
                                    <label class="form-check-label" for="modal_setupResep_Cito">
                                        CITO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group show-puyer d-none">
                <label for="modal_setup_Resep_namaRacikan">Nama racikan / template</label>
                <input id="modal_setup_Resep_namaRacikan" class="form-control"  type="text" name="Keterangan" data-model="setup_Resep_lookup1.keterangan"/>
            </div>

            <div class="">
                <div class="form-group">
                    <table class="table table-bordered table-xs table-striped table-detail table-column" data-name="table1">
                        <thead>
                            <tr class="bg-slate">
                                <th class="table-button">
                                    <button type="button" class="btn btn-xs text-light disabled-only-type-get" onclick="isetup_Resep.openTableDetailLookUp()">
                                        <i class="icon-plus22"></i>
                                    </button>
                                </th>
                                <th style="min-width: 200px">Nama Obat</th>
                                <th class="text-center" style="width:100px">Satuan</th>
                                <th class="show-resep text-center" style="width:80px">Qty</th>
                                <th class="show-resep">Aturan Pakai 1</th>
                                <th class="show-resep">Aturan Pakai 2</th>
                                <th class="show-puyer" style="width:300px">Ket Dosis</th>
                                <th style="width:30px">Stok</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div id="card_Puyer" class="card show-puyer d-none">
                @*<div class="card-header header-elements-inline">
                    <h6 class="card-title">Obat Puyer</h6>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
                </div>*@

                <div class="card-body">

                    <div class="row">
                        <div class="open-reset form-group col-md">
                            <label for="modal_setup_Resep_bentukSediaan">Bentuk Sediaan (d.t.d)</label>
                            <select placeholder="Bentuk Sediaan" id="modal_setup_Resep_bentukSediaan" name="SatuanPuyer" class="required form-control text-left" data-datasource='@Url.Action("EMR_Select_SediaanRacik", "Resep")'></select>
                        </div>
                        <div class="form-group col-md">
                            <label for="modal_setup_Resep_qtyPuyer">Jumlah</label>
                            <input type="number" id="modal_setup_Resep_qtyPuyer" name="QtyPuyer" pattern="[0-9]+([\.,][0-9]+)?" step="1" min="0" class="form-control text-left" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="modal_setup_Resep_HeaderDosis">Aturan 1</label>
                            <input id="modal_setup_Resep_HeaderDosis" class="form-control text-left template-dosis" type="text" name="HeaderAturan1"/>
                        </div>
                  
                        <div class="form-group col-md">
                            <label for="modal_setup_Resep_HeaderDosis2">Aturan 2 (opsional)</label>
                            <input id="modal_setup_Resep_HeaderDosis2" class="form-control text-left template-dosis"  type="text" name="HeaderAturan2"/>
                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex justify-content-end align-items-center mt-2">
                <button type="submit" class="btn bg-primary btn-lg show-only-type-post show-only-type-put"><i class="icon-floppy-disk mr-2"></i>Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    let isetup_Resep;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_Resep = new iSetup({
            id: 'modal_setup_Resep',
            url : '@Url.Action("Resep", "Resep")',
            param: e => {
                const result = {
                    NoResep: e.target['NoResep'].value,
                    model: {
                        ...getModelFromForm(e.target, isetup_Resep),
                    }
                }

                result.model.Puyer = isetup_Resep.puyer;

                return result;
            },
            success: (r, t) => {
                if (r.success) {
                    isetup_Resep.resetForm();

                    isetup_Resep.toggleInputResep(false);

                    goToTop('#table_Resep');

                    itable_Resep.refresh();
                }
            },
            stateDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];

                setFormFromModel(form, r.data, t);

                isetup_Resep.puyer = r.data.puyer;

                (r.data.table1 || []).forEach(x => {
                    isetup_Resep.addTableValue_table1({
                        Barang_ID: x.barang_ID
                    }, x);
                });

                if (isetup_Resep.puyer) {
                    // SET ATURAN 1 DAN ATURAN 2 PADA DOSIS
                    $('#modal_setup_Resep_HeaderDosis').typeahead('val', r.data.headerAturan1);
                    $('#modal_setup_Resep_HeaderDosis2').typeahead('val', r.data.headerAturan2);
                }

                if (isetup_Resep.repetisi) {
                    form['NoResep'].value = '(AUTO)';
                    isetup_Resep.type = 'POST';
                }

                isetup_Resep.togglePuyer(r.data.puyer);
            },
            modalDataOnSuccess: (r, t) => {
            },
            modalOnReady: (e, t) => {
			}
        });

        isetup_Resep.addTableValue_table1 = (key, model) => {
			const tbl = $(isetup_Resep.id).find(`.table-detail[data-name="table1"]`);
			const skey = JSON.stringify(key).replaceAll('\'', '\\\'');
			if (tbl.find(`tbody tr[data-key='${skey}']`).length) {
				alertWarning('Data already exists');
				return;
			}
			let r = '';
            r += `
				<tr data-key='${skey}'>
                    <td class="d-none table-input">
						<input type="number" data-name="Barang_ID"></i></button>
					</td>
					<td class="table-button">
						<button type="button" class="disabled-only-type-get btn btn-danger" onclick="removeTr(this)"><i class="icon-trash"></i></button>
					</td>
					<td class="table-input"><input class="form-control text-left" type="text" data-name="Nama_Barang" readonly/></td>
					<td class="table-input"><input class="form-control text-left" type="text" data-name="Satuan" readonly/></td>
            `;

            if (!isetup_Resep.puyer) {
                r += `
                    <td class="table-input"><input class="form-control text-left" type="number" data-name="Qty" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" min="0" required/></td>
                    <td class="table-input"><input class="form-control text-left template-dosis-detail" type="text" data-name="Dosis" required/></td>
					<td class="table-input"><input class="form-control text-left template-dosis-detail"  type="text" data-name="Dosis2" placeholder="opsional"/></td>
                    <td data-name="Stok"></td>
                `
            } else {
                r += `<td class="table-input"><input class="form-control text-left" type="text" data-name="KetDosis"/></td>`;
                r += `<td data-name="Stok"></td>`;
            }

            r += `</tr>`;

			tbl.find('tbody').append(r);
            const tr = tbl.find('tbody').find('tr:last');

            const templateDosis = isetup_Resep.templateDosis;

            $.each(tr.find(".template-dosis-detail"), (i, v) => {
                $(v).typeahead(null, {
                    name: "dosis",
                    source: templateDosis.ttAdapter()
                });

                if (model.dosis && $(v).data('name') === 'Dosis') {
                    $(v).typeahead('val', model.dosis);
                }

                if (model.dosis && $(v).data('name') === 'Dosis2') {
                    $(v).typeahead('val', model.dosis2);
                }
            });

            initDetailTr(tr, model, 'table1', isetup_Resep);
        };

        isetup_Resep.openTableDetailLookUp = () => {

            isetup_Resep.validateSectionId(() => {
                itable_setup_Resep_table1.openModal()
            });
        }

        isetup_Resep.templateDosis = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                prefetch: `@Url.Action("TemplateDosis", "Resep")?query=`,
                url: `@Url.Action("TemplateDosis", "Resep")?query=%QUERY`,
                wildcard: '%QUERY'
            }
        });

        isetup_Resep.openLookUpPaketObat = () => {
            isetup_Resep.validateSectionId(() => {
                itable_SetupResep_lookup1.openModal();
            });
        }

        isetup_Resep.validateSectionId = (callback) => {
            const sectionId = $(isetup_Resep.id).find("#modal_setupResep_sectionFarmasi").val();

            if (sectionId) {
                $(itable_setup_Resep_table1.id).find("#setup_Resep_modalLookup_table1_filterSectionID").val(sectionId);

                callback();
            } else {
                showAlert('Farmasi tidak boleh kosong.');
            }
        }

        isetup_Resep.goToTop = (objId) => {
            let position = 0;
            if (objId) {
                position = $(objId).offset().top;
            }

            $('html, body').animate({
                scrollTop: position
            }, 1000);
        }

        isetup_Resep.getPaketObat = (kode) => {

            $.ajax({
                url: `@Url.Action("PaketObatDetail", "Resep")`,
                type: 'POST',
                data: {
                    kodePaket: kode,
                    sectionID: $(itable_setup_Resep_table1.id).find("#setup_Resep_modalLookup_table1_filterSectionID").val(),
                    noReg: '@ViewData["NoReg"]'
                },
                success: r => {
                    if (!r.success) {
                        alertError(r.message);
                    }
                    if (r.success) {

                        isetup_Resep.emptyTableDetail();

                        r.data.forEach(x => {
                            isetup_Resep.addTableValue_table1({ Barang_ID: x.barang_ID }, x);
                        });
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        isetup_Resep.edit = noResep => {

            isetup_Resep.openState('PUT', {
                NoResep : noResep
            })

            isetup_Resep.repetisi = false;

            isetup_Resep.toggleInputResep(true);

            isetup_Resep.goToTop(isetup_Resep.id);
        };

        isetup_Resep.newRepetisi = noResep => {
            isetup_Resep.openState('PUT', {
                NoResep: noResep
            })

            isetup_Resep.repetisi = true;

            isetup_Resep.toggleInputResep(true);

            isetup_Resep.goToTop(isetup_Resep.id);
        }


        isetup_Resep.puyer = false;

        isetup_Resep.repetisi = false;

        isetup_Resep.togglePuyer = show => {

            const jPuyer = $(isetup_Resep.id).find('.show-puyer');
            const jShowResep = $(isetup_Resep.id).find('.show-resep');

            $(isetup_Resep.id).find('#modal_setup_Resep_qtyPuyer').prop('required', show);
            $(isetup_Resep.id).find('#modal_setup_Resep_HeaderDosis').prop('required', show);

            if (show) {
                jPuyer.removeClass('d-none');
                jShowResep.addClass('d-none');

            } else {
                jPuyer.addClass('d-none');
                jShowResep.removeClass('d-none')
            }
        }

        isetup_Resep.toggleInputResep = show => {
            const jInputResep = $(isetup_Resep.id);

            if (show) {
                jInputResep.removeClass('d-none');
            } else{
                jInputResep.addClass('d-none');
            }
        }

        isetup_Resep.new = (tipe) => {

            isetup_Resep.resetForm();

            isetup_Resep.repetisi = false;

            if (tipe === 'RACIK') {

                isetup_Resep.puyer = true;
                isetup_Resep.togglePuyer(true);
                itable_SetupResep_lookup1.setPuyer(true);

            } else if (tipe === 'RESEP') {

                isetup_Resep.puyer = false;
                isetup_Resep.togglePuyer(false);
                itable_SetupResep_lookup1.setPuyer(false);
            }

            isetup_Resep.toggleInputResep(true);

            isetup_Resep.goToTop(isetup_Resep.id);

            $(isetup_Resep.id).find('#modal_setup_Resep_NoResep').val('(Auto)');
        }


        isetup_Resep.resetForm = () => {

            const jInputBB = $(isetup_Resep.id).find('#modal_setupResep_input_bb');

            const beratBadan = jInputBB.val();

            isetup_Resep.openState('POST', {});

            //$(isetup_Resep.id).find("select").val(null).trigger('change');

            isetup_Resep.emptyTableDetail();

            const form = $(isetup_Resep.id).find('form')[0];

            form['NoRegistrasi'].value = '@ViewData["NoReg"]';
            form['Tanggal'].value = dateToString(new Date(), 'yyyy-MM-ddTHH:mm');
            form['BeratBadan'].value = beratBadan;

            $(isetup_Resep.id).find('#modal_setup_Resep_Dokter')
                .append(`<option value="@dokter.DokterID" selected='selected'>@dokter.NamaDOkter</option>`)
                .val("@dokter.DokterID").trigger('change');

            let sectionId = '@Context.Request.Cookies["EResepSectionId"]';
            let sectionName = '@Context.Request.Cookies["EResepSectionName"]';

            if (!sectionId) {
                sectionId = 'SECT0002';
            }
            if (!sectionName) {   
                sectionName = 'APOTEK';
            }
            $(isetup_Resep.id).find('#modal_setupResep_sectionFarmasi')
                .append(`<option value="${sectionId}" selected='selected'>${sectionName}</option>`)
                .val(sectionId).trigger('change');
            
        }

        isetup_Resep.emptyTableDetail = () => {
            $(isetup_Resep.id).find(`.table-detail[data-name="table1"]`).find(`tbody`).empty();
        }

        customJSSetup_Resep();
    });

    const customJSSetup_Resep = () => {

        $(isetup_Resep.id).find('.template-dosis')
            .typeahead(null, {
                name: "dosis",
                source: isetup_Resep.templateDosis.ttAdapter()
            });
    };
</script>

@await Html.PartialAsync("~/Views/Resep/LookUp_lookup1.cshtml", new ViewDataDictionary(ViewData))
@await Html.PartialAsync("~/Views/Resep/LookUp_table1.cshtml", new ViewDataDictionary(ViewData))