<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmrPuriBunda </title>
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a asp-controller="Home" asp-action="Index" class="d-inline-block">
                <img src="~/template/global_assets/images/logo_light.png" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <div class="ml-md-3 mr-md-auto"></div>
            <partial name="_LoginPartial" />
        </div>
    </div>

    <div class="page-content">
        <div class="content-wrapper">

            <div class="content">
                @RenderBody()
            </div>

            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center w-100">
                    &copy; 2020 - EmrPuriBunda by <a href="https://www.sanatasystem.net/">Sanata System</a>
                </div>
            </div>

        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>