@using Microsoft.AspNetCore.Identity
@using EmrPuriBunda.Areas.Identity.Data
@using static EmrPuriBunda.Mahas.Helpers.CookiesHelper

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown dropdown-user">
            <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                <span>@(Context.Request.Cookies["NamaDokter"] ?? User.Identity.Name)</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                <a href="javascript:document.getElementById('formlogout').submit();" class="dropdown-item">
                    <i class="icon-switch2"></i> Logout
                </a>
                <form id="formlogout" class="hidden" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
