﻿<div id="modalLookup_PilihPasien" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-indigo">
                <h6 class="modal-title">Pilih Section</h6>
                <button type="button" id="modalLookup_PilihPasien_close" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="modalLookup_PilihPasien_group">Group Pelayanan</label>
                    <select placeholder="Pilih Group Pelayanan" id="modalLookup_PilihPasien_group" name="GroupPelayanan" class="form-control text-left" data-datasource='@Url.Action("Select_GroupPelayanan", "Section")' onchange="isetup_pilihSection.onGroupPelayananChange(this)"></select>
                </div>

                <div class="form-group">
                    <label for="modalLookup_PilihPasien_section">Section Pelayanan</label>
                    <select placeholder="Section" id="modalLookup_PilihPasien_section" name="Section" class="form-control text-left"></select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-primary btn-selected" onclick="isetup_pilihSection.submit()">OK <i class="selected-count"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    let isetup_pilihSection = {};
    document.addEventListener("DOMContentLoaded", function (event) {

        isetup_pilihSection.id = '#modalLookup_PilihPasien';

        isetup_pilihSection.openModal = () => {
            const sectionId = getCookie('SectionId');

            if (!sectionId) {
                $('#modalLookup_PilihPasien_close').addClass('d-none');
            } else {
                $('#modalLookup_PilihPasien_close').removeClass('d-none');

                var section = {
                    groupPelayanan: '@Context.Request.Cookies["GroupPelayanan"]',
                    sectionId: '@Context.Request.Cookies["SectionId"]',
                    sectionName : '@Context.Request.Cookies["SectionName"]',
                }

                var newOption = new Option(section.groupPelayanan, section.groupPelayanan, true, true);
                $('#modalLookup_PilihPasien_group').append(newOption).trigger('change');

                var newOption = new Option(section.sectionName, section.sectionId, true, true);
                $('#modalLookup_PilihPasien_section').append(newOption).trigger('change');
            }

            $(isetup_pilihSection.id).css('z-index', 1060);
            $(isetup_pilihSection.id).modal({ backdrop: 'static', keyboard: true });
            $('.modal-backdrop.fade.show').last().css('z-index', $(this.id).css('z-index') - 1);
        }

        isetup_pilihSection.onGroupPelayananChange = t => {
            $("#modalLookup_PilihPasien_section").val('').trigger('change')
        }

        isetup_pilihSection.submit = () => {
            const sectionId = $('#modalLookup_PilihPasien_section').val();

            if (!sectionId) {
                showAlert("Section belum dipilih", "warning")
                return;
            }

            $.ajax({
                url: `@Url.Action("PilihSection", "Section")?sectionId=${sectionId}`,
                type: 'PUT',
                data: {},
                success: r => {
                    if (!r.success) {
                        alertError(r.message);
                    } else {

                        if (isetup_pilihSection.onSectionSelected) {
                            isetup_pilihSection.onSectionSelected();
                        } else {
                            location.reload();
                        }
                    }
                },
                error: xhr => {
                    alertError(xhr);
                },
                beforeSend: () => {
                    loading(true);
                },
                complete: () => {
                    loading(false);
                },
            });
        }

        customJSisetup_pilihSection();
    });

    customJSisetup_pilihSection = () => {
        const sectionId = getCookie('SectionId');

        const selectGroup = $('#modalLookup_PilihPasien_group');

        mahasSelect2(selectGroup, selectGroup.data('datasource'), {});

        $('#modalLookup_PilihPasien_section').select2({
            ajax: {
                url: '@Url.Action("Datas_Section", "Section")',
                dataType: 'json', type: "POST", delay: 250,
                data: p => {
                    return {
                        pageSize: 30,
                        pageIndex: p.page || 0,
                        filter: p.term,
                        groupPelayanan: $('#modalLookup_PilihPasien_group').val()
                    };
                },
                processResults: (data, params) => {
                    if (!data.success) alertError(data.Message);
                    else {
                        params.page = data.pageIndex + 1;
                        return {
                            results: $.map(data.datas, (value, index) => {
                                return {
                                    text: value.groupPelayanan,
                                    children: $.map(value.data, (v, i) => {
                                        return {
                                            id: v.sectionID,
                                            text: v.sectionName
                                        }
                                    })
                                }
                            }), pagination: { more: ((data.pageIndex + 1) * 30) < data.totalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            escapeMarkup: function (text) { return text; },
            placeholder: 'Pilih Section'
        });

        if (!sectionId) {
            isetup_pilihSection.openModal();
        }
    }

</script>