<!-- CSS CUSTOM -->

<div id="table_HasilBacaLabDetail" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><label class="itable-title-type"></label>Hasil Lab</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card-header header-elements-inline pt-2">
                    <h5 class="card-title"></h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <!--Modal Post-->
                            <a class="list-icons-item" data-action="reload" href="javascript:itable_HasilBacaLabDetail.refresh()"></a>
                        </div>
                    </div>
                </div>

                <dl class="row">
                    <dt class="col-md-3">No. Lab</dt>
                    <dd id="table_HasilBacaLabDetail_header_NoLab" class="col-md-9"></dd>

                    <dt class="col-md-3">Dokter Pengirim</dt>
                    <dd id="table_HasilBacaLabDetail_header_DokterPengirim" class="col-md-9"></dd>
                </dl>

                <form class="itable-form">
                    @Html.AntiForgeryToken()
                    <input type="hidden" class="itable-pagesize" value="20" />
                    <input type="hidden" data-itable-filter="NoReg" value="@ViewData["NoReg"]" />
                    <input type="hidden" id="table_HasilBacaLabDetail_filter_NoSystem" data-itable-filter="NoSystem" />
                    <div class="row col">

                    </div>
                    <input type="submit" class="d-none" />
                </form>

                <div class="table-responsive">
                    <table class="table table-hover dataTable table-xs table-striped">
                        <thead>
                            <tr class="bg-indigo-400">
                                <th class="sorting text-left" data-itable-sorting="1">Pemeriksaan</th>
                                <th class="sorting text-left" data-itable-sorting="2">Hasil</th>
                                <th class="sorting text-left" data-itable-sorting="3">Satuan</th>
                                <th class="sorting text-left" data-itable-sorting="4">Nilai Rujukan</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="row mb-4">

                <div class="col text-center">
                    <p id="table_HasilBacaLabDetail_header_Analis"></p>
                    <p><strong>Pemeriksa</strong></p>
                </div>

                <div class="col text-center">
                    <p id="table_HasilBacaLabDetail_header_PenanggungJawab"></p>
                    <p><strong>Penanggung Jawab</strong></p>
                </div>

            </div>

        </div>
    </div>
</div>

<!--Custom HTML-->

<script>
    let itable_HasilBacaLabDetail;

    document.addEventListener("DOMContentLoaded", function (event) {

        itable_HasilBacaLabDetail = new iTable({
            id: 'table_HasilBacaLabDetail',
            url: '@Url.Action("Datas_HasilBacaLabDetail", "HasilBacaLabDetail")',
            orderBy: 0,
            success: (r, t) => {

                if (r.success) {

                    let tbody = '';
                    if (r.datas.length === 0) tbody += t.trempty();
                    $.each(r.datas, (i, group) => {

                        tbody += `<tr><td colspan="4" class="font-weight-bold">${group.kategori}</td></tr>`;

                        $.each(group.hasil, (index, v) => {
                            tbody += '<tr>';

                            // JS Columns
                            tbody += `<td class="text-left">${v.namaTest}</td>`;
                            tbody += `<td class="text-left">${v.nilai}</td>`;
                            tbody += `<td class="text-left">${v.satuan}</td>`;
                            tbody += `<td class="text-left">${v.nilaiRujukan}</td>`;
                            // ----- JS Columns

                            //tbody += '<td class="text-center">';
                            //tbody += '<div class="list-icons">';
                            //tbody += '<div class="dropdown">';
                            //tbody += '<a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                            //tbody += '<div class="dropdown-menu dropdown-menu-right">';

                            // JS Action

                            // ----- JS Columns

                            tbody += '</div>';
                            tbody += '</div>';
                            tbody += '</div>';
                            tbody += '</td>';
                            tbody += '</tr>';
                        });
                    });
                    $(t.id).find('tbody').html(tbody);
                    t.generateTableFooter(r.totalCount, r.pageSize, r.pageIndex);
                }
            }
        });

    });

</script>

<!--partial-->